<%- model_class = Profile -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:tab_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.user.name, profile_path(profile) %></td>
        <td><%= profile.user.role %></td>
<% if current_user.role=="tab_user" %>
        <td><%= profile.user.tab.name %></td>
<% end %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_profile_path(profile), :class => 'label' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      profile_path(profile),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'label label-important' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.role=='admin' %>
  <%= link_to 'New Profile', new_customer_path, :class=>"label label-info" %>
<% end %>
