<%- model_class = Profile -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <strong>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th></strong>
      <th><%= model_class.human_attribute_name(:tabname) %></th></strong>
    </tr>
  </thead>
  <tbody>
    <% User.find(:all, :conditions => ["id NOT IN (?)", [1,4]]).each do |user| %>
     <% unless user.id == current_user.id  %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
	<% if user.role=='tab_user' %>
        <td><%= user.tab.name %></td>
        <% else %>
        <td>  </td>
	<% end %>
      </tr>
    <% end %>
<% end %>
  </tbody>
</table>

<% if current_user.role=='admin' %>
  <%= link_to 'New Profile', new_customer_path, :class=>"label label-info" %>
<% end %>
