
            <header>
				<nav class="codrops-demos">
				</nav>
            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">


<div style="float:left;width:50%">
  <%= image_tag "verifyme.jpg" %>
</div>
<div style="float:right;width:50%">
<h4>New Registration:</h4> 


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<p>
 <label for="name" class="name" data-icon="e" > Your Name </label>
  <%= f.text_field :name, :id=>"name", :placeholder=>"name" %>
</p>


<p> 
 <label for="username" class="uname" data-icon="e" > Your email or username </label>
  <%= f.email_field :email, :id=>"usernamesignup", :placeholder=>"myusername or mymail@mail.com" %>
</p>

<p>
<label for="password" class="youpasswd" data-icon="p"> Your password </label>
  <%= f.password_field :password, :id=>"password", :placeholder=>"eg. X8df!90EO"  %>
</p>

<p>
<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
<%= f.password_field :password_confirmation, :id=>"passwordsignup_confirm", :placeholder=>"eg. X8df!90EO" %>
</p>

<%= f.label :roles %>
<label class="checkbox">
 <input id="user_roles" name="user[role]" type="checkbox" value="super_user" /> Super User
</label>

<label class="checkbox">
 <input id="user_roles" name="user[role]" type="checkbox" value="tab_user" /> Tab User
</label>

<div style="display:none;">
<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Select a tab (if role is not super user) </label>
   <%= f.select :tab_id, Tab.all.collect {|p| 
                                           unless p.user 
                                             [ p.name, p.id ] 
                                             end  }, {include_blank: 'Select one'}, { index: nil } %>

</div>
</br>



<script>
$(".checkbox").click(function(){
   
   $(this).next("div").toggle();    
   //alert('fooo ' + $(this).next("div").html());
});
</script>



<!--<% for role in User::ROLES %>
 <p><i><%= check_box_tag "user[role]", role %>
 <%= h role.humanize %></i></p>
<% end %>-->

<p class="login button"> 
  <%= f.submit "Sign up", :class=>"btn btn-primary btn-small" %>
</p>

<% end %>

<%= render "devise/shared/links" %>

</div></div></div>
            </section>
        </div></div>
