<style>
 #servey_data{float:left; width:800px;border-right:2px solid black;}
 #servey_document{width:350px;float:right; border:1px solid black;float:right;padding:0px 0px 0px 30px;background:#FAFAFA;margin:280px -150px 0px 0px;}
</style>
<%- model_class = Business -%>
<%= render 'header' %>





<% if @co_applicant.co_applicant_servey && @co_applicant.co_applicant_servey.co_applicant_documents %>
<div id="servey_document">
<h4> Submitted Documents </h4><br>
<% @co_applicant.co_applicant_servey.co_applicant_documents.each do |d| %>
 <%= image_tag d.photo.url(:thumb) %><br><br>
<% end %>
</div>
<% end %>



<% if @co_applicant.co_applicant_servey %>
<% if @co_applicant.co_applicant_servey.address_confirmed? %>
<div id="servey_data">
 <h4> Customer's Servey Detail | <%= link_to 'Edit this document' , edit_co_applicant_servey_path(@co_applicant.co_applicant_servey, :customer_id => @co_applicant, :tab_id => @co_applicant.co_applicant_servey.tab_id) %></h4>
<br>
<table class="table table-bordered table-striped table-condensed" style="width:700px;">
  <tr><td><%= model_class.human_attribute_name(:address_confirmed) %>:</td>
  <% if @co_applicant.co_applicant_servey.address_confirmed? %>
     <td>Yes</td>
  <% else %>
     <td> NO </td>
  <% end %>
  </tr>

  <tr><td><%= model_class.human_attribute_name(:name_and_stay_confirm) %>:</td>
  <% if @co_applicant.co_applicant_servey.name_and_stay_confirm %>
     <td>Yes</td>
  <% else %>
     <td> NO </td>
  <% end %>
  </tr>


  <tr><td><%= model_class.human_attribute_name(:date_of_visit) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.date_of_visit %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:time_of_visit) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.time_of_visit.strftime('%I:%M %P') %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:person_contacted) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.person_contacted %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:relation_with_applicant) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.relation_with_applicant %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:d_o_b) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.date_of_birth %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:years_lived_at_current_address) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.years_lived_at_current_address %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:residence_status) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.residence_status %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:educational_qualification) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.educational_qualification %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:marital_status) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.marital_status %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:no_of_family_members) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.no_of_family_members %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:working_member) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.working_member %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:children) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.children %></td></tr>


  <tr><td><%= model_class.human_attribute_name(:spouse_working) %>:</td>
  <td><% if @co_applicant.co_applicant_servey.spouse_working==true %>
  Yes <% else %> No <% end %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:spouse_working_detail) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.spouse_working_detail %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:name_plate_seen) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.name_plate_seen %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:customer_beaviour) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.customer_beaviour %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:neighbour_ref) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.neighbour_ref %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:name_varified_from) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.name_varified_from %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:type_of_residence) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.type_of_residence %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:locality_of_residence) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.locality_of_residence %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:ease_of_location) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.ease_of_location %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:construction_of_residence) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.construction_of_residence %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:comments_of_exteriors) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.comments_of_exteriors %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:carpet_area_in_sq_feet) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.carpet_area_in_sq_feet %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:interior_condition) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.interior_condition %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:asset_seen_at_residence) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.asset_seen_at_residence %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:potrait_on_wall) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.potrait_on_wall %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:applicant_residing_detail) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.applicant_residing_detail %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:application_availibility_time) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.application_availibility_time %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:no_of_family_member_in_the_house) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.no_of_family_member_in_the_house %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:verifiers_remark) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.verifiers_remark %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:refer_to_bank) %>:</td>
  <td><%= @co_applicant.co_applicant_servey.refer_to_bank %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:pin) %>:</td>
  <td><%#= @co_applicant.pincode.name %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:country_state) %>:</td>
  <td><%= @co_applicant.country_state %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:country_city) %>:</td>
  <td><%= @co_applicant.country_city %></td></tr>

  <tr><td><%= model_class.human_attribute_name(:country_name) %>:</td>
  <td><%= @co_applicant.country_name %></td></tr>

</table>
</div>
<% end %>
<% end %>
