<% if @co_applicant && @co_applicant.co_applicant_documents %>
<%= render "co_applicant_documents" %>
<% end %>
<% if @co_applicant.customer.co_applicant_business %>
 <%= link_to 'show co applicant business detail', co_applicant_business_path(@co_applicant.customer.co_applicant_business), :class=>"label label-success" %>
<% else %>
<a href="#myModal_app_work" role="button" data-toggle="modal" class="label label-important">Add Co aplicant Business Detail</a>
<% end %>


<!-- Modal -->
<div id="myModal_app_work" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel"><%= @co_applicant.applicant_name %>'s Co Applicant Working detail Form </h3>
</div>
<div class="modal-body">
<p><%= render :partial=>"co_applicant_businesses/form"%></p>
</div>
</div>

<%- model_class = Business -%>
<div class="page-header">


  <%= link_to t('.back', :default => t("helpers.links.back")),
              businesses_path, :class => 'label' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_co_applicant_path(@co_applicant), :class => 'label' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              co_applicant_path(@co_applicant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'label label-important' %>

  <% if @co_applicant.status=="awaiting_to_get_verified"&&current_user.role=="super_user" %>
    <p style="margin-right:50px;float:right">
      <%= link_to "Accept", accept_co_applicant_path(@co_applicant, :co_applicant_id=> @co_applicant), :class=>"label label-success" %> |
      <%= link_to "Re Assign", re_indicated_co_applicant_path(@co_applicant, :co_applicant_id=> @co_applicant), :class=>"label label-info" %>
    </p>
  <% end %>
<br><br>

<div id ="stamp" style="float:right">
<% if @co_applicant.status=='verified'%>
 <%= image_tag('verified-stamp.png', :size => "300x300") %>
<% end %>
</div>

<h3 class ="label label-info">
 <%= "scorpeo-#{Date.today}-#{@co_applicant.application_ref_no}" %> | <%= @co_applicant.agency_name %>
</h3>
  <h4 style="color:blue"><%= @co_applicant.applicant_name %></h4>
  	 <% if @co_applicant.status=="submitted" %>
		   <h6><%= link_to 'reasign to another tab', edit_co_applicant_verification_path(@co_applicant.co_applicant_verification, :id => @co_applicant.co_applicant_verification) %></h6>
     <% end %>


<h5>
  <%= @co_applicant.landmark %> <br>
  <%= @co_applicant.address %> <br>
  <%= @co_applicant.country_name %> |
  <%= @co_applicant.country_state %> |
  <%= @co_applicant.country_city %> |
  <%= @co_applicant.pincode.name %>
</h5>

<% if @co_applicant.status=="ready_for_verification" %>

 <% if user_signed_in?&&current_user.role=="super_user" %>

   <%= form_for :co_applicant_verification_co_applicant_path,
                :url => co_applicant_verification_co_applicant_path(:co_applicant_id => @co_applicant.id),
                :method=>:post do |f| %>

   <%= select_tag "co_applicant_verification[tab_id]", options_for_select(Tab.all.collect {|r|[r.name,r.id]}),
               {:class=>'tf help',:style=>"margin-top:15px;"} %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <%= f.submit "Send for verification", :class=>"btn btn-primary btn-small" %>

      <% end %>
<% end %>
<% else %>

<% if @co_applicant.status=="submitted" %>
<br>
    <% if @co_applicant.status=='submitted' %>
     <td><span class="label label-warning">Submitted to Tab User </span></td></tr><br>
<small>
 The customer has been send for verification. this is been assigned to
 <%= link_to @co_applicant.co_applicant_verification.tab.name, tab_path(@co_applicant.co_applicant_verification.tab) %></small>

    <% end %>
<% else %>
    <% if @co_applicant.status=='verified' %>
     <td><span class="label label-success">Verified </span></td></tr>
    <% end %>
    <% if @co_applicant.status=='verified_with_changes' %>
     <td><span class="label label-info">Verified with Changes </span></td></tr>
    <% end %>
<% end %>
<% end %>
</td></tr></tr></table>
</div>

<% if @co_applicant.co_applicant_documents %>
<div>
<% @co_applicant.co_applicant_documents.each do |d| %>
 <%= image_tag d.photo.url(:thumb) %>
<% end %>
</div><br><br><br>
<% end %>



<div class="span3" style ="width:400px;padding:20px;border-radius:5px;border:1px solid #000000;text-align:center">
<p><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{@co_applicant.latitude}%2C#{@co_applicant.longitude}" %></p>
</div>

<% if @co_applicant.co_applicant_servey %>
<% if @co_applicant.co_applicant_servey.address_confirmed? %>
<div class="span5" style ="width:400px;padding:20px;border-radius:5px;border:0px solid #000000;text-align:center">
<strong>
 <%= link_to 'Edit this document' , edit_co_applicant_servey_path(@co_applicant.co_applicant_servey, :customer_id => @co_applicant, :tab_id => @co_applicant.co_applicant_servey.tab_id) %></strong>
<table class="table table-bordered">

  <tr><td><strong><%= model_class.human_attribute_name(:address_confirmed) %>:</strong>
  <% if @co_applicant.co_applicant_servey.address_confirmed? %> Yes <% else %> NO <% end %> </td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_and_stay_confirm) %>:</strong>
  <% if @co_applicant.co_applicant_servey.name_and_stay_confirm %>Yes <% else %> NO <% end %> </td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:date_of_visit) %>:</strong>
  <%= @co_applicant.co_applicant_servey.date_of_visit %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:time_of_visit) %>:</strong>
  <%= @co_applicant.co_applicant_servey.time_of_visit.strftime('%I:%M %P') %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:person_contacted) %>:</strong>
  <%= @co_applicant.co_applicant_servey.person_contacted %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:relation_with_applicant) %>:</strong>
  <%= @co_applicant.co_applicant_servey.relation_with_applicant %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:d_o_b) %>:</strong>
  <%= @co_applicant.co_applicant_servey.date_of_birth %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:years_lived_at_current_address) %>:</strong>
  <%= @co_applicant.co_applicant_servey.years_lived_at_current_address %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:residence_status) %>:</strong>
  <%= @co_applicant.co_applicant_servey.residence_status %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:educational_qualification) %>:</strong>
  <%= @co_applicant.co_applicant_servey.educational_qualification %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:marital_status) %>:</strong>
  <%= @co_applicant.co_applicant_servey.marital_status %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:no_of_family_members) %>:</strong>
  <%= @co_applicant.co_applicant_servey.no_of_family_members %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:working_member) %>:</strong>
  <%= @co_applicant.co_applicant_servey.working_member %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:children) %>:</strong>
  <%= @co_applicant.co_applicant_servey.children %></td></tr>


  <tr><td><strong><%= model_class.human_attribute_name(:spouse_working) %>:</strong>
  <% if @co_applicant.co_applicant_servey.spouse_working==true %>
  Yes <% else %> No <% end %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:spouse_working_detail) %>:</strong>
  <%= @co_applicant.co_applicant_servey.spouse_working_detail %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_plate_seen) %>:</strong>
  <%= @co_applicant.co_applicant_servey.name_plate_seen %></td></tr>

  <!--<tr><td><strong><%= model_class.human_attribute_name(:credit_card) %>:</strong>
  <%= @co_applicant.co_applicant_servey.credit_card %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:card_no) %>:</strong>
  <%= @co_applicant.co_applicant_servey.card_no %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:card_limit) %>:</strong>
  <%= @co_applicant.co_applicant_servey.card_limit %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:issuing_bank) %>:</strong>
  <%= @co_applicant.co_applicant_servey.issuing_bank %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:expiry_date) %>:</strong>
  <%= @co_applicant.co_applicant_servey.expiry_date %></td></tr>-->

  <tr><td><strong><%= model_class.human_attribute_name(:customer_beaviour) %>:</strong>
  <%= @co_applicant.co_applicant_servey.customer_beaviour %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:neighbour_ref) %>:</strong>
  <%= @co_applicant.co_applicant_servey.neighbour_ref %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_varified_from) %>:</strong>
  <%= @co_applicant.co_applicant_servey.name_varified_from %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:type_of_residence) %>:</strong>
  <%= @co_applicant.co_applicant_servey.type_of_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:locality_of_residence) %>:</strong>
  <%= @co_applicant.co_applicant_servey.locality_of_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:ease_of_location) %>:</strong>
  <%= @co_applicant.co_applicant_servey.ease_of_location %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:construction_of_residence) %>:</strong>
  <%= @co_applicant.co_applicant_servey.construction_of_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:comments_of_exteriors) %>:</strong>
  <%= @co_applicant.co_applicant_servey.comments_of_exteriors %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:carpet_area_in_sq_feet) %>:</strong>
  <%= @co_applicant.co_applicant_servey.carpet_area_in_sq_feet %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:interior_condition) %>:</strong>
  <%= @co_applicant.co_applicant_servey.interior_condition %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:asset_seen_at_residence) %>:</strong>
  <%= @co_applicant.co_applicant_servey.asset_seen_at_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:potrait_on_wall) %>:</strong>
  <%= @co_applicant.co_applicant_servey.potrait_on_wall %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:applicant_residing_detail) %>:</strong>
  <%= @co_applicant.co_applicant_servey.applicant_residing_detail %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:application_availibility_time) %>:</strong>
  <%= @co_applicant.co_applicant_servey.application_availibility_time %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:no_of_family_member_in_the_house) %>:</strong>
  <%= @co_applicant.co_applicant_servey.no_of_family_member_in_the_house %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:verifiers_remark) %>:</strong>
  <%= @co_applicant.co_applicant_servey.verifiers_remark %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:refer_to_bank) %>:</strong>
  <%= @co_applicant.co_applicant_servey.refer_to_bank %></td></tr>


  <tr><td><strong><%= model_class.human_attribute_name(:pin) %>:</strong>
  <%= @co_applicant.pincode.name %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:country_state) %>:</strong>
  <%= @co_applicant.country_state %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:country_city) %>:</strong>
  <%= @co_applicant.country_city %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:country_name) %>:</strong>
  <%= @co_applicant.country_name %></td></tr>

<!--  <tr><td><strong><%= model_class.human_attribute_name(:status) %>:</strong>
  <%= @co_applicant.status %></td></tr>-->


</table>
</div>
<% end %>
<% end %>
