<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
        $('.show_hide').click(function(){
        $(".slidingDiv").slideToggle();
    });
 
});
 
</script>

<style>

  i{color:green}

.slidingDiv {
    height:auto;
    padding:20px;
    margin-top:10px;
}
 
.show_hide {
    display:none;
}
</style>


<%- model_class = CoApplicantServey -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "New #{model_class.model_name.human}") %></h1>
</div>

<% if @co_applicant.document_required? %>
<div class="alert alert-info">
<h4 style ="text-transform: uppercase;">*Customers Document Photos are Required</h4>
</div>
<% end %>




<%= nested_form_for @co_applicant_servey, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @co_applicant_servey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@co_applicant_servey.errors.count, "error") %> prohibited this co_applicant_servey from being saved:</h2>

      <ul>
      <% @co_applicant_servey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :co_applicant_id, :value=> params[:customer_co_applicant_id], :class => 'text_field' %>
  <%= f.hidden_field :tab_id, :value=> params[:tab_id], :class => 'text_field' %>
  <%= f.hidden_field :time_of_visit, :value=>Time.now , :class => 'time_select' %>
  <%= f.hidden_field :date_of_visit, :value=> Date.today, :class => 'date_select' %>
<table class="table table-striped" border>
  <tr>
    <th>Application ref no</th>
    <th>Agency name</th>
    <th>Fh code</th>
    <th>Applicant name</th>
  </tr>

  <tr>
    <td><%= @co_applicant.application_ref_no %></td>
    <td><%= @co_applicant.agency_name %></td>
    <td><%= @co_applicant.fh_code %></td>
    <td><%= @co_applicant.applicant_name %></td>
  </tr>
</table>
<hr>
<h3> Following are the Details to be obtained from the customer </h3><hr>

<div class="span3" style ="float:right;width:400px;padding:20px;border-radius:5px;border:1px solid #000000;text-align:center">
<b style ="color:blue"><%= @co_applicant.address %></b><br>
<p><%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{@co_applicant.latitude}%2C#{@co_applicant.longitude}" %></p>
</div>
<br><br><br>

<a><small><i class="show_hide">Click to activate Camera</i></small></a>

<div class="slidingDiv">

 <%= f.fields_for :co_applicant_documents do |customer| %>
    <%= customer.file_field :photo %>
    <%= customer.hidden_field :co_applicant_servey_id %>
    <%= customer.link_to_remove "Remove" %>
 <% end %>
  <p><%= f.link_to_add "Add more documents", :co_applicant_documents %></p><br>

</div>

  <div class="control-group">
    <%= f.label :address_confirmed, :class => 'control-label' %>
    <div class="controls">
       Yes <input id="servey_address_confirmed" name="co_applicant_servey[address_confirmed]" type="radio" value="1" />
       No <input id="servey_address_confirmed" name="co_applicant_servey[address_confirmed]" type="radio" value="0" />
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_and_stay_confirm, :class => 'control-label' %>
    <div class="controls">
     Yes <input id="servey_name_and_stay_confirm" name="co_applicant_servey[name_and_stay_confirm]" type="radio" value="1" />
     No <input id="servey_name_and_stay_confirm" name="co_applicant_servey[name_and_stay_confirm]" type="radio" value="0" />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :person_contacted, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :person_contacted, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :relation_with_applicant, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :relation_with_applicant, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :years_lived_at_current_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :years_lived_at_current_address, :class => 'number_field' %>
    </div>
  </div>
<div class="control-group">
<%= f.label :residence_status, :class => 'control-label' %><br>
<div class="controls">
<input id="servey_marital_status" name="servey[marital_status]" type="radio" value="Self Owned" />
 Self Owned <br>
<input id="servey_marital_status" name="servey[residence_status]" type="radio" value="Owned By Parents" />
 Owned By Parents <br>
<input id="servey_marital_status" name="servey[residence_status]" type="radio" value="Rented" />
Rented 
<br>
<input id="servey_marital_status" name="servey[residence_status]" type="radio" value="Company Accomodation" /> Company accomodation<br>
<input id="servey_marital_status" name="servey[residence_status]" type="radio" value="paying guest" /> 
paying guest<br>
<input id="servey_marital_status" name="servey[residence_status]" type="radio" value="owned by friend" /> owned by friend <br>
<input id="servey_marital_status" name="servey[residence_status]" type="radio" value="Married" /> owned by relative <br>
<input id="servey_marital_status" name="servey[residence_status]" type="radio" value="Married" /> lodging <br>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :educational_qualification, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[educational_qualification]" type="radio" value="proffessional" /> Proffessional <br>
<input id="servey_marital_status" name="servey[educational_qualification]" type="radio" value="Post Graduate" /> Post Graduate <br>
<input id="servey_marital_status" name="servey[educational_qualification]" type="radio" value="Under Graduate" /> Under Graduate <br>
<input id="servey_marital_status" name="servey[educational_qualification]" type="radio" value="Graduate" /> Graduate <br>
<input id="servey_marital_status" name="servey[educational_qualification]" type="radio" value="others" /> others <br>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :marital_status, :class => 'control-label' %>
    <div class="controls">
     <input id="servey_marital_status" name="servey[marital_status]" type="radio" value="Married" /> Married  <br>
    <input id="servey_marital_status" name="servey[marital_status]" type="radio" value="Unmarried" /> Unmarried  <br>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spouse_working, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :spouse_working, :class => 'check_box' %> Yes
      <%= check_box_tag'test', :class=>"show_hide" %> no
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spouse_working_detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spouse_working_detail, :class => 'text_field' %><br> Enter if spouse working , else leave it blank.
    </div>
</div>

  <div class="control-group">
    <%= f.label :no_of_family_members, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :no_of_family_members, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :working_member, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :working_member, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :children, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :children, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_plate_seen, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :name_plate_seen, :class => 'check_box' %> yes 
      <%= check_box_tag'test' %> no
    </div>
  </div>
  <div class="control-group">
    <%= f.label :credit_card, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :credit_card, :class => 'check_box', :class=>"show_hide" %> yes
      <%= check_box_tag'test', :class=>"show_hide" %> no
    </div>
  </div>
  <div class="control-group">
    <%= f.label :card_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :card_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :card_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :card_limit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :issuing_bank, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :issuing_bank, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expiry_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :expiry_date, :class => 'date_select' %>
    </div>
  </div>
<p> </p>
<div class="alert alert-success" style="width:400px">
  <strong>the following is based on verifiers observation.</strong>
</div>
  <div class="control-group">
    <%= f.label :'How Co-Operative was the customer', :class => 'control-label' %>
    <div class="controls">
   <input id="servey_marital_status" name="servey[customer_beaviour]" type="radio" value="Polite" /> Polite  
   <input id="servey_marital_status" name="servey[customer_beaviour]" type="radio" value="Rude" /> Rude  
    </div>
  </div>
  <div class="control-group">
    <%= f.label :neighbour_ref, :class => 'control-label' %>
    <div class="controls">
   <input id="servey_marital_status" name="servey[neighbour_ref]" type="radio" value="+ve" /> +ve
   <input id="servey_marital_status" name="servey[neighbour_ref]" type="radio" value="-ve" /> -ve    
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_varified_from, :class => 'control-label' %>
    <div class="controls">
   <input id="servey_marital_status" name="servey[name_varified_from]" type="radio" value="name plate" /> name plate <br>
<input id="servey_marital_status" name="servey[name_varified_from]" type="radio" value="Watchman" /> Watchman <br>
<input id="servey_marital_status" name="servey[name_varified_from]" type="radio" value="neighbour" /> Neighbour<br>
<input id="servey_marital_status" name="servey[name_varified_from]" type="radio" value="society board" /> society board <br>
<input id="servey_marital_status" name="servey[name_varified_from]" type="radio" value="company board" /> Company Board <br>
</div>
  </div>
  <div class="control-group">
    <%= f.label :type_of_residence, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="Flat" /> Flat <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="Independent House" /> Independent House <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="Multitanent House" />Multi Tanent house <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="bunglow" /> Bunglow <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="Row House" /> Row house <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="temperory Shed" /> Temperary Shed <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="standing Chawl" /> Standing Chawl <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="Janta Flat Hutment" /> Janta Flat Hutment <br>
<input id="servey_marital_status" name="servey[type_of_residence]" type="radio" value="Sitting Chawl" /> Sitting chawl <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :locality_of_residence, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="Posh locality" /> posh locality <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="village area" /> Village area <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="upper middle class" /> Upper middle class <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="lower middle class" /> lower middle class <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="slum" /> slum <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="other" /> other <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :ease_of_location, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[ease_of_location]" type="radio" value="easy" /> easy <br>
<input id="servey_marital_status" name="servey[ease_of_location]" type="radio" value="difficult" /> Difficult <br>
<input id="servey_marital_status" name="servey[ease_of_location]" type="radio" value="unreachabe" /> unreachable <br>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :construction_of_residence, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="pakka" /> pakka <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="semi pakka" /> semi pakka <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="temperory" /> temperory <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="car park" /> car park <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="garden" /> garden <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="security" /> security <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="building wall" /> building wall <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments_of_exteriors, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="fenced" /> fenced <br>
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="compound wall" /> compound wall <br>
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="elevator" /> elevator <br>
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="others" /> others <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :carpet_area_in_sq_feet, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :carpet_area_in_sq_feet, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interior_condition, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="sofa" /> Sofa <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="clean" /> Clean <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="painted" /> painted <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="carpated" /> Carpated <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="ventilation blinds" /> ventilation blinds <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :asset_seen_at_residence, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :asset_seen_at_residence, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address_proof_sighted %>
      <% AddressProof.find(:all).each do |address_proof| %>
    <div class="controls">
          <%= check_box_tag( 'customer[address_proof_sighted][]', address_proof.name) %>
          <%= address_proof.name %><br>
</div>
      <% end %>
  <hr></div></br>

  <div class="control-group">
    <%= f.label :potrait_on_wall, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :potrait_on_wall, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :applicant_residing_detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :applicant_residing_detail, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :application_availibility_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :application_availibility_time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :no_of_family_member_in_the_house, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :no_of_family_member_in_the_house, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :verifiers_remark, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :verifiers_remark, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input id="servey_marital_status" name="servey[refer_to_bank]" type="radio" value="Accept" /> Accept
      <input id="servey_marital_status" name="servey[refer_to_bank]" type="radio" value="Decline" /> Decline
      <input id="servey_marital_status" name="servey[refer_to_bank]" type="radio" value="refer to bank" /> Refer to Bank

    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>



