<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(){

        $(".slidingDiv").hide();
        $(".show_hide").show();

        $('.show_hide').click(function(){
        $(".slidingDiv").slideToggle();
    });

});

</script>

<script>
function updateTextArea() {
    var allVals = [];
    $('.taglist :checked').each(function (i) {

        allVals.push((i != 0 ? "\r\n" : "") + $(this).val());
    });
    $('#video0_tags').val(allVals).attr('rows', allVals.length);

}
$(function () {
    $('.taglist input').click(updateTextArea);
    updateTextArea();
});
</script>


<style>

  i{color:green}

.slidingDiv {
    height:auto;
    padding:20px;
    margin-top:10px;
}

.show_hide {
    display:none;
}
</style>


<%- model_class = CoApplicantServey -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "New #{model_class.model_name.human}") %></h1>
</div>

<% if @co_applicant.document_required? %>
<div class="alert alert-info">
<h4 style ="text-transform: uppercase;">*Customers Document Photos are Required</h4>
</div>
<% end %>




<%= nested_form_for @co_applicant_servey, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @co_applicant_servey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@co_applicant_servey.errors.count, "error") %> prohibited this co_applicant_servey from being saved:</h2>

      <ul>
      <% @co_applicant_servey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :co_applicant_id, :value=> @co_applicant.id %>
  <%= f.hidden_field :tab_id, :value=> params[:tab_id], :class => 'text_field' %>
  <%= f.hidden_field :time_of_visit, :value=>Time.now , :class => 'time_select' %>
  <%= f.hidden_field :date_of_visit, :value=> Date.today, :class => 'date_select' %>
<table class="table table-striped" border>
  <tr>
    <th>Application ref no</th>
    <th>Agency name</th>
    <th>Fh code</th>
    <th>Applicant name</th>
  </tr>

  <tr>
    <td><%= @co_applicant.application_ref_no %></td>
    <td><%= @co_applicant.agency_name %></td>
    <td><%= @co_applicant.fh_code %></td>
    <td><%= @co_applicant.applicant_name %></td>
  </tr>
</table>
<hr>
<h3> Following are the Details to be obtained from the customer </h3><hr>

<a><small><i class="show_hide">Click to activate Camera</i></small></a>

<div class="slidingDiv">

 <%= f.fields_for :co_applicant_documents do |customer| %>
    <%= customer.file_field :photo %>
    <%= customer.hidden_field :co_applicant_id %>
    <%= customer.link_to_remove "Remove" %>
 <% end %>
  <p><%= f.link_to_add "Add more documents", :co_applicant_documents %></p><br>

</div>

  <div class="control-group">
    <%= f.label :address_confirmed, :class => 'control-label' %>
    <div class="controls">
       <%= f.label "Yes" %> <%= f.radio_button :address_confirmed, true  %>
       <%= f.label "No" %>  <%= f.radio_button :address_confirmed, false %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_and_stay_confirm, :class => 'control-label' %>
    <div class="controls">
      <%= f.label "Yes" %> <%= f.radio_button :name_and_stay_confirm, true  %>
      <%= f.label "No" %>  <%= f.radio_button :name_and_stay_confirm, false %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :person_contacted, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :person_contacted, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_of_birth, :class => 'number_field', :start_year => 1960 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :relation_with_applicant, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :relation_with_applicant, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :years_lived_at_current_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :years_lived_at_current_address, :class => 'number_field' %>
    </div>
  </div>
<div class="control-group">
<%= f.label :residence_status, :class => 'control-label' %><br>
<div class="controls">
     <%= f.label "Self Owned" %>
     <%= f.radio_button :residence_status, "Self Owned" %>
     <%= f.label "Owned By Parents" %>
     <%= f.radio_button :residence_status, "Owned By Parents" %>
     <%= f.label "Rented" %>
     <%= f.radio_button :residence_status, "Rented" %>
     <%= f.label "Company accomodation" %>
     <%= f.radio_button :residence_status, "Company accomodation" %>
     <%= f.label "Paying Guest" %>
     <%= f.radio_button :residence_status, "paying guest" %>
     <%= f.label "Owned by Friend" %>
     <%= f.radio_button :residence_status, "owned by friend" %>
     <%= f.label "Lodging" %>
     <%= f.radio_button :residence_status, "lodging" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :educational_qualification, :class => 'control-label' %>
    <div class="controls">
     <%= f.label "Proffessional" %>
     <%= f.radio_button :educational_qualification, "proffessional" %>
     <%= f.label "Post Graduate" %>
     <%= f.radio_button :educational_qualification, "Post Graduate" %>
     <%= f.label "Under Graduate" %>
     <%= f.radio_button :educational_qualification, "Under Graduate" %>
     <%= f.label "Graduate" %>
     <%= f.radio_button :educational_qualification, "Graduate" %>
     <%= f.label "Others" %>
     <%= f.radio_button :educational_qualification, "others" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :marital_status, :class => 'control-label' %>
    <div class="controls">
    <%= f.label "Married" %>
    <%= f.radio_button :marital_status, "Married" %>
    <%= f.label "UnMarried" %>
    <%= f.radio_button :marital_status, "unmarried" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spouse_working, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :spouse_working, :class => 'check_box' %> Yes
      <%= check_box_tag'test', :class=>"show_hide" %> no
    </div>
  </div>
  <div class="control-group">
    <%= f.label :spouse_working_detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spouse_working_detail, :class => 'text_field' %><br> Enter if spouse working , else leave it blank.
    </div>
</div>

  <div class="control-group">
    <%= f.label :no_of_family_members, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :no_of_family_members, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :working_member, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :working_member, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :children, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :children, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_plate_seen, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :name_plate_seen, :class => 'check_box' %> yes
      <%= check_box_tag'test' %> no
    </div>
  </div>
<!--<div class="control-group">
    <%= f.label :credit_card, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :credit_card, :class => 'check_box', :class=>"show_hide" %> yes
      <%= check_box_tag'test', :class=>"show_hide" %> no
    </div>
  </div>
  <div class="control-group">
    <%= f.label :card_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :card_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :card_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :card_limit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :issuing_bank, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :issuing_bank, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expiry_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :expiry_date, :class => 'date_select' %>
    </div>
  </div>-->
<p> </p>
<div class="alert alert-success" style="width:400px">
  <strong>the following is based on verifiers observation.</strong>
</div>

     <%= f.hidden_field :customer_beaviour, :value=> 'Polite' %>
     <%= f.hidden_field :neighbour_ref, :value=> 'Positive' %>

  <div class="control-group">
    <%= f.label :name_varified_from, :class => 'control-label' %>
    <div class="controls">
  <% for name in Customer::NAME_VERIFIED %>
    <%= check_box_tag "co_applicant_servey[name_varified_from][]", name %>
    <%=h name.humanize %><br />
  <% end %>
  <%= hidden_field_tag "co_applicant_servey[name_varified_from][]" %>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :type_of_residence, :class => 'control-label' %>
    <div class="controls">
     <%= f.label "Flat" %>
     <%= f.radio_button :type_of_residence, "Flat" %>
     <%= f.label "Independent House" %>
     <%= f.radio_button :type_of_residence, "Independent House" %>
     <%= f.label "Multi Tanent house" %>
     <%= f.radio_button :type_of_residence, "Multitanent house" %>
     <%= f.label "Bunglow" %>
     <%= f.radio_button :type_of_residence, "bunglow" %>
     <%= f.label "Row house" %>
     <%= f.radio_button :type_of_residence, "Row house" %>
     <%= f.label "Temperary Shed" %>
     <%= f.radio_button :type_of_residence, "temperary shed" %>
     <%= f.label "Standing Chawl" %>
     <%= f.radio_button :type_of_residence, "standing chawl" %>
     <%= f.label "Janta Flat Hutment" %>
     <%= f.radio_button :type_of_residence, "janta Flat Hutment" %>
     <%= f.label "Sitting Chawl" %>
     <%= f.radio_button :type_of_residence, "Sitting Chawl" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :locality_of_residence, :class => 'control-label' %>
    <div class="controls">
     <%= f.label "Posh locality" %>
     <%= f.radio_button :locality_of_residence, "Posh locality" %>
     <%= f.label "village area" %>
     <%= f.radio_button :locality_of_residence, "village area" %>
     <%= f.label "upper middle class" %>
     <%= f.radio_button :locality_of_residence, "upper middle class" %>
     <%= f.label "lower middle class" %>
     <%= f.radio_button :locality_of_residence, "lower middle class" %>
     <%= f.label "slum" %>
     <%= f.radio_button :locality_of_residence, "slum" %>
     <%= f.label "other" %>
     <%= f.radio_button :locality_of_residence, "other" %>
    </div>
  </div>
     <%= f.hidden_field :ease_of_location, :value=>"Easy" %>
     <%= f.hidden_field :construction_of_residence, :value=>"pakka" %>
  <div class="control-group">
    <%= f.label :construction_of_residence, :class => 'control-label' %>
    <div class="controls">
     <%= f.label "pakka" %>
     <%= f.radio_button :construction_of_residence, "pakka" %>
     <%= f.label "Semi pakka" %>
     <%= f.radio_button :construction_of_residence, "semi pakka" %>
     <%= f.label "temperory" %>
     <%= f.radio_button :construction_of_residence, "temperory" %>
     <%= f.label "car park" %>
     <%= f.radio_button :construction_of_residence, "car park" %>
     <%= f.label "garden" %>
     <%= f.radio_button :construction_of_residence, "garden" %>
     <%= f.label "security" %>
     <%= f.radio_button :construction_of_residence, "security" %>
     <%= f.label "building wall" %>
     <%= f.radio_button :construction_of_residence, "building wall" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments_of_exteriors, :class => 'control-label' %>
    <div class="controls">
  <% for name in Customer::EXTERIORS %>
    <%= check_box_tag "co_applicant_servey[comments_of_exteriors][]", name %>
    <%=h name.humanize %><br />
  <% end %>
  <%= hidden_field_tag "co_applicant_servey[comments_of_exteriors][]" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :carpet_area_in_sq_feet, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :carpet_area_in_sq_feet, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interior_condition, :class => 'control-label' %>
    <div class="controls">
     <%= f.label "sofa" %>
     <%= f.radio_button :interior_condition, "sofa" %>
     <%= f.label "clean" %>
     <%= f.radio_button :interior_condition, "clean" %>
     <%= f.label "painted" %>
     <%= f.radio_button :interior_condition, "painted" %>
     <%= f.label "carpated" %>
     <%= f.radio_button :interior_condition, "carpated" %>
     <%= f.label "ventilation blindes" %>
     <%= f.radio_button :interior_condition, "ventilation blinds" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :asset_seen_at_residence, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :asset_seen_at_residence, :class => 'text_field' %>
    </div>
  </div>

  <div class="taglist">
    <%= f.label :address_proof_sighted %>
      <% AddressProof.find(:all).each do |address_proof| %>
    <div class="controls">
          <%= check_box_tag( 'customer[address_proof_sighted][]', address_proof.name) %>
          <%= address_proof.name %><br>
</div>
      <% end %>
<br>    <div class="controls">
    <%= f.label :pancard_number %>
    <%= f.text_field :pancard_number %>
    </div>
    <div class="controls">
    <%= f.label :Driving_licence_number %>
    <%= f.text_field :driving_licence_number %>
    </div>
    <div class="controls">
    <%= f.label :Electricity_account_number %>
    <%= f.text_field :electricity_acc_number %>
   </div>

  <hr></div></br>

  <!--<div class="control-group">
    <%= f.label :potrait_on_wall, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :potrait_on_wall, :class => 'check_box' %>
    </div>
  </div>-->
  <!--<div class="control-group">
    <%= f.label :applicant_residing_detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :applicant_residing_detail, :class => 'check_box' %>
    </div>
  </div>-->
  <div class="control-group">
    <%= f.label :application_availibility_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :application_availibility_time, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :no_of_family_member_in_the_house, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :no_of_family_member_in_the_house, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :verifiers_remark, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :verifiers_remark, :class => 'textfield', :id=>"video0_tags" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
     <%= f.label "Accept" %>
     <%= f.radio_button :refer_to_bank, "Accept" %>
     <%= f.label "Decline" %>
     <%= f.radio_button :refer_to_bank, "Decline" %>
     <%= f.label "Refer to bank" %>
     <%= f.radio_button :refer_to_bank, "refer to bank" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
