
<%= form_for(@customer, :html => { :style => 'padding-left:70px;' }) do |f| %>

  <% if @customer.errors.any? %>
    <div id="error_explanation" style="color:red">
      <h4><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h4>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
   <div class ="field_name">
     <%= f.label :ClientName, :class => 'control-label' %>
     <%= f.collection_select :client_id, Client.all, :id, :name, :class => 'text_field' %>
   </div>
   <div class ="field_name">
     <%= f.label :select_branch_name, :class => 'control-label' %>
     <%= f.collection_select :branch_id, Branch.all, :id, :name, :class => 'text_field' %>
   </div>
   <div class ="field_name">
     <%= f.label :branch_code, :class => 'control-label' %>
     <%= f.text_field :branch_code, :class => 'text_field' %>
   </div>

 </div>


<% if @customer.blank? %>
  <div class="field_name">
    <%= f.label :application_ref_no, :class => 'control-label' %>
    <div class="field_name">
     <b><%= f.text_field :application_ref_no, :class => 'text_field', :value=> @final_no %></b>
    </div>
  </div>
<% else %>

 <div class="row">
  <div class="field_name">
    <%= f.label :application_ref_no, :class => 'control-label' %>
     <b><%= f.text_field :application_ref_no, :class => 'text_field', :value=> @final_no %></b>
     <%= f.hidden_field :application_status, :value => "RESIDENTIAL" %>
  </div>
<% end %>

  <div class="field_name">
    <%= f.label :fh_code, :class => 'control-label' %>
      <%= f.text_field :fh_code, :class => 'text_field', :value=> @final_no %>
  </div>

  <div class="field_name">
    <%= f.label :agency_name, :class => 'control-label' %>
      <%= f.text_field :agency_name, :class => 'text_field', :value=>"Scorp Enterprises" %>
  </div>
<br><br><br>

  <div class="field_name">
    <%= f.label :Document_copy_required, :class => 'control-label' %>
      <h5><%= f.check_box :photo_required, :class => 'text_field' %>
	     <b style ="padding-left:10px;color:blue">Check this if photocopy of the customers document is required. else leave it as it is</b></h5>
  </div>
  <br><br><br><br>

  <div class="field_name">
    <%= f.label :applicant_name, :class => 'control-label' %>
    <%= f.text_field :applicant_name, :class => 'text_field' %>
    </div>

  <div class="field_name">
    <%= f.label :'Contact Number', :class => 'control-label' %>
    <%= f.text_field :contact_number, :class => 'text_field' %>
  </div>
<!--    <br><br><br><br><br><br> -->

  <div class="field_name">
    <%= f.label :landmark, :class => 'control-label' %>
    <%= f.text_field :landmark, :class => 'text_field' %>
    </div>

   <br><br><br>

  <div class="field_name">
    <%= f.label :Country, :class => 'control-label' %>
    <%= f.text_field :country_name, :class => 'text_field', :value=>"INDIA" %>
  </div>

  <div class="field_name">
    <%= f.label :State, :class => 'control-label' %>
    <%= f.text_field :country_state, :class => 'text_field', :value => "MAHARASHTRA" %>
  </div>

  <div class="field_name">
    <%= f.label :City, :class => 'control-label' %>
    <%= f.text_field :country_city, :class => 'text_field' %>
  </div>

  <div class="field_name">
    <%= f.label :'Name of the area', :class => 'control-label' %>
    <%= f.collection_select :pincode_id, Pincode.all, :id, :name, :class => 'text_field' %>

  </div>

  <div class="field_name">
    <%= f.label :'Selected pincode', :class => 'control-label' %>
    <%= f.text_field :area_name, :class => 'text_field' %>
  </div>

  <div class="field_name">
    <%= f.label :address, :class => 'control-label' %>
    <%= f.text_area :address, :class => 'text_area' %>
    </div>

  <br><br><br><br><br><br><br><br>
</div>

  <div class="form-actions">
    <%= f.submit 'Save Customer..', :class => 'btn btn-primary btn-small' %>
  </div>
<% end %>
