<script type="text/javascript">
function checkAllBusiness()
{
     var checkboxes = document.getElementsByTagName('input'), val = null;
     for (var i = 0; i < checkboxes.length; i++)
     {
         if (checkboxes[i].type == 'checkbox')
         {
             if (val === null) val = checkboxes[i].checked;
             checkboxes[i].checked = val;
         }
     }
 }
</script>

<div id="residential" class="col-md-12" style="font-size:11px;">
<h5> Businesses </h5> <br>
<div style="float:right;"><%= link_to "Download Ready Customers", customers_download_ready_customers_business_path(:format => :xls) %></div>
<table class="table table-condensed table-striped table-bordered">
  <tr>
    <th><INPUT type="checkbox" onchange="checkAllBusiness()" name="chkbusiness[]" /></th>
    <th>Application ref no</th>
    <th>Applicant name</th>
    <th>Status</th>
    <th>Address</th>
  </tr>
<%= form_tag assign_all_businesses_path, :method => :post do %>
<%= select_tag 'tab_id', options_for_select(Tab.all.map{|t| [t.name, t.id]}), {:prompt => "--Select Tab--"} %>
<%  @business_ready.each do |customer| %>
  <tr>
    <td><%= check_box_tag 'business_verification[business_ids][]', customer.id, false, :id => customer.id %></td>
    <td><b><%= link_to "scorpeo/ #{Date.today}/ #{customer.application_ref_no}", customer %></b></td>
    <td><%= customer.applicant_name %></td>
    <td><%= link_to "Print Business Form", print_business_form_business_path(customer, :business_id => customer), :class=> "label label-info" %></td>
    <td><%= customer.address %></td>
  </tr>
  <% end %>
</table>

<br />
<%= submit_tag "Assign", :class=>"btn btn-danger", :onclick => "return checkTabId('#businesses')" %>
<% end %>
</div>