<script type="text/javascript">
function checkAllBusiness()
{
     var checkboxes = document.getElementsByTagName('input'), val = null;
     for (var i = 0; i < checkboxes.length; i++)
     {
         if (checkboxes[i].type == 'checkbox')
         {
             if (val === null) val = checkboxes[i].checked;
             checkboxes[i].checked = val;
         }
     }
 }
</script>

<div id="residential" style="font-size:11px;width:2200px">
<h5> Businesses </h5> <br>

<table class="table table-condensed table-striped table-bordered">
  <tr>
    <th><INPUT type="checkbox" onchange="checkAllBusiness()" name="chkbusiness[]" /></th>
    <th>Application Status </th>
    <th>Application ref no</th>
    <th>Applicant name</th>
    <th>Status</th>
    <th>Address</th>
  </tr>
<%= form_tag assign_all_businesses_path, :method => :post do %>
<%= select_tag 'tab_id', options_for_select(Tab.all.map{|t| [t.name, t.id]}), {:prompt => "--Select Tab--"} %>
<%  @business_ready.each do |customer| %>
  <tr>
    <td><%= check_box_tag 'business_verification[business_ids][]', customer.id, false, :id => customer.id %></td>
    <% if customer.application_status == 'RESIDENTIAL'%>
    <td>
     <b style="color:#009999;border-radius:3px;padding:2px;">
     <%= customer.application_status %>
     </b>
    </td>
    <% else %>
    <td>
     <b style="color:#CC0066;border-radius:3px;padding:2px;">
     <%= customer.application_status %></b></td>
    <% end %>
    <td>
      <b><%= link_to "scorpeo/ #{Date.today}/ #{customer.application_ref_no}", customer %></b>
    </td>
    <td><%= customer.applicant_name %></td>
     <% if customer.status=='submitted' %>
     <td><span class="label label-info"> Submitted </span></td>
     <% end %>
     <% if customer.status=='ready_for_verification' %>
     <td><span class="label label-info"> ready for verification </span></td>
     <% end %>
     <% if customer.status=='awaiting_to_get_verified' %>
     <td><span class="label label-warning"> in progress </span></td>
     <% end %>
     <% if customer.status=='verified' %>
     <td><span class="label label-success"> verified </span></td>
     <% end %>
     <td><%= customer.address %></td>
      </tr>
    <% end %>
</table>

<br />
<%= submit_tag "Assign", :class=>"btn btn-danger", :onclick => "return checkTabId('#businesses')" %>
<% end %>
