<script type="text/javascript">
function checkAll()
{
     var checkboxes = document.getElementsByTagName('input'), val = null;
     for (var i = 0; i < checkboxes.length; i++)
     {
         if (checkboxes[i].type == 'checkbox')
         {
             if (val === null) val = checkboxes[i].checked;
             checkboxes[i].checked = val;
         }
     }
 }
</script>
<div id="residential" class="col-md-10" style="font-size:11px;">
<h5> Co Applicant's Residential</h5> <br>
<div style="float:right;"><%= link_to "Download Ready Customers", customers_download_ready_co_applicants_path(:format => :xls) %></div>
<table class="table table-condensed table-striped table-bordered">
  <tr>
    <th><INPUT type="checkbox" onchange="checkAll()" name="chk[]" /></th>
    <th>Application ref no</th>
    <th>Applicant name</th>
    <th>Status</th>
    <th>Address</th>
  </tr>
<%= form_tag assign_all_co_applicants_path, :method => :post do %>
<%= select_tag 'tab_id', options_for_select(Tab.all.map{|t| [t.name, t.id]}), {:prompt => "--Select Tab--"} %>
<% @co_applicant_ready .each do |customer| %>
<tr>
  <td><%= check_box_tag 'co_applicant_verification[co_applicant_ids][]', customer.id, false, :id => customer.id %></td>

  <td><strong><%= link_to "scorpeo/ #{Date.today}/ #{customer.application_ref_no}", customer %></strong></td>
  <td><%= customer.applicant_name %></td>
  <td><%= link_to "Print co-applicant", print_co_applicant_co_applicant_path(customer, :co_applicant_id => customer), :class=> "label label-info" %></td>
  <td><%= customer.address %></td>
</tr>
<% end %>
</table>
<br />
<%= submit_tag "Assign", :class=>"btn btn-danger", :onclick => "return checkTabId('#co_applicants')" %>
<% end %>
