<% if @all_customers_today.present? %>
<h3> List Of Customers Created Today </h3>

<table class="table table-condensed">
 <thead>
  <tr>
    <th>Status </th>
    <th width="195px">Application ref no</th>
    <th width="195px">Applicant name</th>
    <th>Status</th>
    <th>verifing tab</th>
  </tr>
 </thead>
 <tbody>

 <% @customers.each do |customer| %>

  <tr>
   <% if customer.application_status == 'RESIDENTIAL' %>
   <td><b><%= customer.application_status %></b></td>
   <% else %>
   <td><b><%= customer.application_status %></b></td>
   <% end %>
   <td>
	  <b><%= link_to "scorpeo/ #{customer.created_at.to_date}/ #{customer.application_ref_no}", customer %></b>
	 </td>
   <td><%= customer.applicant_name %></td>
   <% if customer.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if customer.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if customer.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if customer.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

	 <% @verifier  = CustomerVerification.find_all_by_customer_id(customer) %>
		 <% @verifier.each do |v| %>
			 <% if v.tab.name %>
				 <td width="150px"><%= v.tab.name %></td>
			 <% else %>
				 <td>no tab </td>
			 <% end %>
	   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>
<!--------------- business---------------------------------------------------------------------->
 <% @business.each do |b| %>

  <tr>
   <% if b.business.application_status == 'RESIDENTIAL' %>
   <td><b><%= b.business.application_status %></b></td>
   <% else %>
   <td><b><%= b.business.application_status %></b></td>
   <% end %>
   <td>
	  <b><%= link_to "scorpeo/ #{b.business.created_at.to_date}/ #{b.business.application_ref_no}", b.business %></b>
	 </td>
   <td><%= b.business.applicant_name %></td>
   <% if b.business.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if b.business.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if b.business.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if b.business.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

	 <% @verifier  = BusinessVerification.find_all_by_business_id(b) %>
		 <% @verifier.each do |v| %>
			 <% if v.tab.name %>
				 <td width="150px"><%= v.tab.name %></td>
			 <% else %>
				 <td>no tab </td>
			 <% end %>
	   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>
<!--------------- Co Applicant ---------------------------------------------------------------------->

 <% @co_applicants.each do |c| %>

  <tr>
   <% if c.co_applicant.application_status == 'RESIDENTIAL' %>
   <td><b><%= c.co_applicant.application_status %></b></td>
   <% else %>
   <td><b><%= c.co_applicant.application_status %></b></td>
   <% end %>
   <td>
	  <b><%= link_to "scorpeo/ #{c.co_applicant.created_at.to_date}/ #{c.co_applicant.application_ref_no}", c.co_applicant %></b>
	 </td>
   <td><%= c.co_applicant.applicant_name %></td>
   <% if c.co_applicant.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if c.co_applicant.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if c.co_applicant.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if c.co_applicant.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

	 <% @verifier  = CoApplicantVerification.find_all_by_co_applicant_id(c) %>
		 <% @verifier.each do |v| %>
			 <% if v.tab.name %>
				 <td width="150px"><%= v.tab.name %></td>
			 <% else %>
				 <td>no tab </td>
			 <% end %>
	   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>

<!--------------- Co Applicant Business ---------------------------------------------------------------------->
 <% @co_applicant_business.each do |cb| %>

  <tr>
   <% if cb.co_applicant_business.application_status == 'RESIDENTIAL' %>
   <td><b style="color:#009999;border-radius:3px;padding:2px;"><%= cb.co_applicant_business.application_status %></b></td>
   <% else %>
   <td><b style="color:#CC0066;border-radius:3px;padding:2px;"><%= cb.co_applicant_business.application_status %></b></td>
   <% end %>
   <td>
	  <b><%= link_to "scorpeo/ #{cb.co_applicant_business.created_at.to_date}/ #{cb.co_applicant_business.application_ref_no}", cb.co_applicant_business %></b>
	 </td>
   <td><%= cb.co_applicant_business.applicant_name %></td>
   <% if cb.co_applicant_business.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if cb.co_applicant_business.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if cb.co_applicant_business.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if cb.co_applicant_business.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

	 <% @verifier  = ClientVerification.find_all_by_co_applicant_business_id(cb) %>
		 <% @verifier.each do |v| %>
			 <% if v.tab.name %>
				 <td width="150px"><%= v.tab.name %></td>
			 <% else %>
				 <td>no tab </td>
			 <% end %>
	   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>


	 </table>
<% end %>
