<table class="table table-condensed table-bordered table-striped">
<tr>
    <td> Application Status </td>
    <td> Applicant name </td>
    <td> Verifier Tab name </td>
    <td> Current Status </td>
 </tr>
<% customers_list_old.each do |e| %>
  <tr>
    <td style="color:#009999;border-radius:3px;padding:2px;"><%= e.customer.application_status %></td>
    <td><%= link_to e.customer.applicant_name, e.customer %></td>
     <td><%= e.tab.name %></td>
     <td><%= e.customer.status.humanize %></td>
     <% if e.customer.status=='awaiting_to_get_verified' %>
      <td><%#= link_to "ACCEPT", accept_customer_path(e, :customer_id=>e), :class => "label label-info"%></td>
     <% end %>
  </tr>
<% end %>
<% business_list_old.each do |e| %>
  <tr>
    <td style="color:#CC0066;border-radius:3px;padding:2px;"><%= e.business.application_status %></td>
    <td><%= link_to e.business.customer.applicant_name, e.business %></td>
     <td><%= e.tab.name %></td>
     <td><%= e.business.status.humanize %></td>
     <% if e.business.status=='awaiting_to_get_verified' %>
      <td><%#= link_to "accept" %></td>
     <% end %>
  </tr>
<% end %>
<% co_applicants_list_old.each do |e| %>
  <tr>
    <td style="color:#009999;border-radius:3px;padding:2px;"><%= e.co_applicant.application_status %></td>
    <td><%= link_to e.co_applicant.applicant_name, e.co_applicant %></td>
     <td><%= e.tab.name %></td>
     <td><%= e.co_applicant.status.humanize %></td>
          <% if e.co_applicant.status=='awaiting_to_get_verified' %>
      <td><%#= link_to "accept" %></td>
     <% end %>

  </tr>
<% end %>
<% co_app_business_list_old.each do |e| %>
  <tr>
    <td style="color:#CC0066;border-radius:3px;padding:2px;"><%= e.co_applicant_business.application_status %></td>
    <td><%= link_to e.co_applicant_business.customer.co_applicant.applicant_name, e.co_applicant_business %></td>
     <td><%= e.tab.name %></td>
     <td><%= e.co_applicant_business.status.humanize %></td>
     <% if e.co_applicant_business.status=='awaiting_to_get_verified' %>
      <td><%#= link_to "accept" %></td>
     <% end %>

  </tr>
<% end %>
</table>
