<style>
 #servey_data{float:left;border-right:2px solid black;}
 #servey_document{width:350px;float:right}
</style>

<%= render "header_detail" %><hr>
<%- model_class = Customer -%>




<div id="servey_document">
<% if @customer.customer_documents %>
<h4> Submitted Documents </h4><br>
<%= render "customer_documents" %>
<% end %>
</div>

<% if @customer.servey && @customer.servey.address_confirmed? %>
<h4> Customer's Servey Detail | <%= link_to "edit this servey", edit_servey_path(@customer.servey,:customer_id=>@customer,:tab_id=>@customer.servey.tab_id) %></h4><br>

<div id="servey_data">
<table class="table table-bordered table-striped table-condensed">
<% if @customer && @customer.branch %>
  <tr><td><strong><%= model_class.human_attribute_name(:branch_id) %>:</td></strong>
  <td><%= @customer.branch.name %> </td></tr>
  <tr><td><strong><%= model_class.human_attribute_name(:branch_code) %>:</td></strong>
  <td><%= @customer.branch.branch_code %></td></tr>
<% else %>
<% end %>
  <tr><td><strong><%= model_class.human_attribute_name(:application_ref_no) %>:</td></strong>
  <td><%= @customer.application_ref_no %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:agency_name) %>:</td></strong>
  <td><%= @customer.agency_name %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:fh_code) %>:</td></strong>
  <td><%= @customer.fh_code %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:addresse_confirmed) %>:</td></strong>
  <td><%= @customer.servey.address_confirmed %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:address) %>:</td></strong>
  <td><%= @customer.address %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:landmark) %>:</td></strong>
  <td><%= @customer.landmark %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:pin) %>:</td></strong>
  <td><%= @customer.pincode.name %></td></tr>

<% if @customer.servey %>
<% if @customer.servey.address_confirmed? %>

  <tr><td><strong><%= model_class.human_attribute_name(:address_confirmed) %>:</td></strong>
  <td><% if @customer.servey.address_confirmed? %> Yes <% end %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_and_stay_confirm) %>:</td></strong>
  <td><%= @customer.servey.name_and_stay_confirm %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:date_of_visit) %>:</td></strong>
  <td><%= @customer.servey.date_of_visit %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:time_of_visit) %>:</strong>
  <td><%= @customer.servey.time_of_visit %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:person_contacted) %>:</strong>
  <td><%= @customer.servey.person_contacted %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:relation_with_applicant) %>:</strong>
  <td><%= @customer.servey.relation_with_applicant %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:date_of_birth) %>:</td></strong>
  <td><%= @customer.servey.date_of_birth %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:years_lived_at_current_address) %>:</strong>
  <td><%= @customer.servey.years_lived_at_current_address %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:educational_qualification) %>:</strong>
  <td><%= @customer.servey.educational_qualification %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:marital_status) %>:</strong>
  <td><%= @customer.servey.marital_status %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:no_of_family_members) %>:</strong>
  <td><%= @customer.servey.no_of_family_members %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:working_member) %>:</strong>
  <td><%= @customer.servey.working_member %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:children) %>:</strong>
  <td><%= @customer.servey.children %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:spouse_working) %>:</strong>
  <td><%= @customer.servey.spouse_working %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:spouse_working_detail) %>:</strong>
  <td><%= @customer.servey.spouse_working_detail %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_plate_seen) %>:</strong>
  <td><%= @customer.servey.name_plate_seen %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:customer_beaviour) %>:</strong>
  <td><%= @customer.servey.customer_beaviour %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:neighbour_ref) %>:</strong>
  <td><%= @customer.servey.neighbour_ref %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_varified_from) %>:</strong>
    <td><ol><% @customer.servey.name_varified_from.each do |i| %>
       <li><%= i %></li>
    <% end %></ol></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:residence_status) %>:</strong>
  <td><%= @customer.servey.residence_status %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:type_of_residence) %>:</strong>
  <td><%= @customer.servey.type_of_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:locality_of_residence) %>:</strong>
  <td><%= @customer.servey.locality_of_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:pancard_number) %>:</strong>
  <td><%= @customer.servey.pancard_number %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:electricity_acc_number) %>:</strong>
  <td><%= @customer.servey.electricity_acc_number  %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:ease_of_location) %>:</strong>
  <td><%= @customer.servey.ease_of_location %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:construction_of_residence) %>:</strong>
  <td><%= @customer.servey.construction_of_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:comments_of_exteriors) %>:</strong>
  <td><%= @customer.servey.comments_of_exteriors %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:carpet_area_in_sq_feet) %>:</strong>
  <td><%= @customer.servey.carpet_area_in_sq_feet %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:interior_condition) %>:</strong>
  <td><%= @customer.servey.interior_condition %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:asset_seen_at_residence) %>:</strong>
  <td><%= @customer.servey.asset_seen_at_residence %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:verifiers_remark) %>:</strong>
  <td><%= @customer.servey.verifiers_remark %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:Status) %>:</strong>
  <td><%= @customer.servey.refer_to_bank %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:pin) %>:</strong>
  <td><%= @customer.pincode.pin_number %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:country_state) %>:</strong>
  <td><%= @customer.country_state %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:country_city) %>:</strong>
  <td><%= @customer.country_city %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:country_name) %>:</strong>
  <td><%= @customer.country_name %></td></tr>

</table>
<% end %>
<% end %>
<% end %>
</div>
