<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(){

        $(".slidingDiv").hide();
        $(".show_hide").show();

        $('.show_hide').click(function(){
        $(".slidingDiv").slideToggle();
    });
$(".checkbox").click(function(){
   $(this).next("div").toggle();
});
});

</script>

<style>

  i{color:green}

.slidingDiv {
    height:auto;
    padding:20px;
    margin-top:10px;
}

.show_hide {
    display:none;
}
</style>






<%- model_class = Servey -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "New #{model_class.model_name.human}") %></h1>
</div>

<%= nested_form_for @survey, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.hidden_field :customer_id, :value=> @survey.customer_id, :class => 'text_field' %>
  <%= f.hidden_field :tab_id, :value=> params[:tab_id], :class => 'text_field' %>
  <%= f.hidden_field :time_of_visit, :value=> @survey.time_of_visit , :class => 'time_select' %>
  <%= f.hidden_field :date_of_visit, :value=> @survey.date_of_visit, :class => 'date_select' %>
  <!-- Customer detal -->
<table class="table table-striped" border>
  <tr>
    <th>Application ref no</th>
    <th>Agency name</th>
    <th>Fh code</th>
    <th>Applicant name</th>
  </tr>

  <tr>
    <td><%= @customer.application_ref_no %></td>
    <td><%= @customer.agency_name %></td>
    <td><%= @customer.fh_code %></td>
    <td><%= @customer.applicant_name %></td>
  </tr>
</table>
<hr>
<h3> Following are the Details to be obtained from the customer </h3><hr>

<a><small><i class="show_hide">Click to activate Camera</i></small></a>

<div class="slidingDiv">

 <%= f.fields_for :customer_documents do |customer| %>
    <%= customer.file_field :photo %>
    <%= customer.hidden_field :servey_id %>
    <%= customer.hidden_field :customer_id, :value =>@customer.id %>
    <%= customer.link_to_remove "Remove" %>
 <% end %>
  <p><%= f.link_to_add "Add more documents", :customer_documents %></p><br>


</div>

  <div class="control-group">
    <%= f.label :address_confirmed, :class => 'control-label' %>
    <div class="controls">
      Yes <%= f.radio_button :address_confirmed, true  %>
      No  <%= f.radio_button :address_confirmed, false %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_and_stay_confirm, :class => 'control-label' %>
    <div class="controls">
      Yes <%= f.radio_button :name_and_stay_confirm, true  %>
      No  <%= f.radio_button :name_and_stay_confirm, false %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :person_contacted, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :person_contacted, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :relation_with_applicant, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :relation_with_applicant, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :years_lived_at_current_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :years_lived_at_current_address, :class => 'number_field' %>
    </div>
  </div>
<div class="control-group">
<%= f.label :residence_status, :class => 'control-label' %><br>
<div class="controls">
     <%= f.label "Self Owned" %>
     <%= f.radio_button :residence_status, "Self Owned" %>
     <%= f.label "Owned By Parents" %>
     <%= f.radio_button :residence_status, "Owned By Parents" %>
     <%= f.label "Rented" %>
     <%= f.radio_button :residence_status, "Rented" %>
     <%= f.label "Company accomodation" %>
     <%= f.radio_button :residence_status, "Company accomodation" %>
     <%= f.label "Paying Guest" %>
     <%= f.radio_button :residence_status, "paying guest" %>
     <%= f.label "Owned by Friend" %>
     <%= f.radio_button :residence_status, "owned by friend" %>
     <%= f.label "Lodging" %>
     <%= f.radio_button :residence_status, "lodging" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :educational_qualification, :class => 'control-label' %>
    <div class="controls">
     <%= f.label "Proffessional" %>
     <%= f.radio_button :educational_qualification, "proffessional" %>
     <%= f.label "Post Graduate" %>
     <%= f.radio_button :educational_qualification, "Post Graduate" %>
     <%= f.label "Under Graduate" %>
     <%= f.radio_button :educational_qualification, "Under Graduate" %>
     <%= f.label "Graduate" %>
     <%= f.radio_button :educational_qualification, "Graduate" %>
     <%= f.label "Others" %>
     <%= f.radio_button :educational_qualification, "others" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :marital_status, :class => 'control-label' %>
    <div class="controls">
     Married <%= f.radio_button :marital_status, "Married" %>
     UnMarried <%= f.radio_button :marital_status, "unmarried" %>
    </div>
  </div>

    <%= f.label :Spouse_Working, :class => 'control-label' %>
      <label class="checkbox controls">
         <input id="spouse_working_detail_no" name="servey[spouse_working]" type="checkbox" value="no" /> no
      </label>
      <label class="checkbox controls">
         <input id="spouse_working_detail_yes" name="servey[spouse_working]" type="checkbox" value="Yes" class="checkbox" /> Yes
      </label>

   <div class="control-group" style ="display:none;"><br>
     <%= f.label :spouse_working_detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :spouse_working_detail, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :no_of_family_members, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :no_of_family_members, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_of_birth, :class => 'number_field', :start_year => 1960 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :working_member, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :working_member, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :children, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :children, :class => 'number_field' %>
    </div>
  </div>

      <%= f.hidden_field :name_plate_seen, :value=>'yes' %>
  <!--<div class="control-group">
    <%= f.label :credit_card, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :credit_card, :class => 'check_box' %> ye
      <%= check_box_tag'test' %> no
    </div>
  </div>
  <div class="control-group">
    <%= f.label :card_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :card_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :card_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :card_limit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :issuing_bank, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :issuing_bank, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expiry_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :expiry_date, :class => 'date_select' %>
    </div>
  </div>-->
<p> </p>
<div class="alert alert-success" style="width:400px">
  <strong>the following is based on verifiers observation.</strong>
</div>
      <%= f.hidden_field :customer_beaviour, :value => 'polite' %>
      <%= f.hidden_field :neighbour_ref, :value => 'positive' %>

<div class="control-group">
 <%= f.label :Name_verified_from, :class => 'control-label' %>
    <div class="controls">
  <% for name in Customer::NAME_VERIFIED %>
    <%= check_box_tag "servey[name_varified_from][]", name %>
    <%=h name.humanize %><br />
  <% end %>
  <%= hidden_field_tag "servey[name_varified_from][]" %>
</div>
</div>


  <div class="control-group">
    <%= f.label :type_of_residence, :class => 'control-label' %>
    <div class="controls">
     <%= f.label "Flat" %>
     <%= f.radio_button :type_of_residence, "Flat" %>
     <%= f.label "Independent House" %>
     <%= f.radio_button :type_of_residence, "Independent House" %>
     <%= f.label "Multi Tanent house" %>
     <%= f.radio_button :type_of_residence, "Multitanent house" %>
     <%= f.label "Bunglow" %>
     <%= f.radio_button :type_of_residence, "bunglow" %>
     <%= f.label "Row house" %>
     <%= f.radio_button :type_of_residence, "Row house" %>
     <%= f.label "Temperary Shed" %>
     <%= f.radio_button :type_of_residence, "temperary shed" %>
     <%= f.label "Standing Chawl" %>
     <%= f.radio_button :type_of_residence, "standing chawl" %>
     <%= f.label "Janta Flat Hutment" %>
     <%= f.radio_button :type_of_residence, "janta Flat Hutment" %>
     <%= f.label "Sitting Chawl" %>
     <%= f.radio_button :type_of_residence, "Sitting Chawl" %>
   </div>
  </div>
  <div class="control-group">
    <%= f.label :locality_of_residence, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="Posh locality" /> posh locality <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="village area" /> Village area <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="upper middle class" /> Upper middle class <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="lower middle class" /> lower middle class <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="slum" /> slum <br>
<input id="servey_marital_status" name="servey[locality_of_residence]" type="radio" value="other" /> other <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :ease_of_location, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[ease_of_location]" type="radio" value="easy" /> easy <br>
<input id="servey_marital_status" name="servey[ease_of_location]" type="radio" value="difficult" /> Difficult <br>
<input id="servey_marital_status" name="servey[ease_of_location]" type="radio" value="unreachabe" /> unreachable <br>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :construction_of_residence, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="pakka" /> pakka <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="semi pakka" /> semi pakka <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="temperory" /> temperory <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="car park" /> car park <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="garden" /> garden <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="security" /> security <br>
<input id="servey_marital_status" name="servey[construction_of_residence]" type="radio" value="building wall" /> building wall <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments_of_exteriors, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="fenced" /> fenced <br>
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="compound wall" /> compound wall <br>
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="elevator" /> elevator <br>
<input id="servey_marital_status" name="servey[comments_of_exteriors]" type="radio" value="others" /> others <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :carpet_area_in_sq_feet, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :carpet_area_in_sq_feet, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interior_condition, :class => 'control-label' %>
    <div class="controls">
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="sofa" /> Sofa <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="clean" /> Clean <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="painted" /> painted <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="carpated" /> Carpated <br>
<input id="servey_marital_status" name="servey[interior_condition]" type="radio" value="ventilation blinds" /> ventilation blinds <br>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :asset_seen_at_residence, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :asset_seen_at_residence, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address_proof_sighted %>
      <% AddressProof.find(:all).each do |address_proof| %>
    <div class="controls">
          <%= check_box_tag( 'customer[address_proof_sighted][]', address_proof.name) %>
          <%= address_proof.name %><br>
    </div>
      <% end %>
<br>    <div class="controls">
    <%= f.label :pancard_number %>
    <%= f.text_field :pancard_number %>
    </div>
    <div class="controls">
    <%= f.label :Driving_licence_number %>
    <%= f.text_field :driving_licence_number %>
    </div>
    <div class="controls">
    <%= f.label :Electricity_account_number %>
    <%= f.text_field :electricity_acc_number %>
   </div>
  </div></br>

<!--  <div class="control-group">
    <%= f.label :potrait_on_wall, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :potrait_on_wall, :class => 'check_box' %>
    </div>
  </div>-->
<!--  <div class="control-group">
    <%= f.label :applicant_residing_detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :applicant_residing_detail, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :applicant_availibility_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :application_availibility_time, :class => 'text_field' %><br>
      (morning / afternoon / evening)
    </div>
  </div>-->
  <!--<div class="control-group">
    <%= f.label :no_of_family_member_in_the_house, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :no_of_family_member_in_the_house, :class => 'number_field' %>
    </div>
  </div>-->
  <div class="control-group">
    <%= f.label :verifiers_remark, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :verifiers_remark, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input id="servey_marital_status" name="servey[refer_to_bank]" type="radio" value="Accept" /> Accept
      <input id="servey_marital_status" name="servey[refer_to_bank]" type="radio" value="Decline" /> Decline
      <input id="servey_marital_status" name="servey[refer_to_bank]" type="radio" value="refer to bank" /> Refer to Bank

    </div>
  </div>
<hr>
  <div class="control-group" style="padding-left:180px;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), customers_path, :class => 'btn' %>
  </div>
<% end %>
