<script stype="javascript">
 function getArea(obj){
 $.ajax({url:'/get_area',
 dataType: 'script',
 type: 'get',
 data: {id: obj.value},
 success: function(data){

 }
 });}
</script>

<script stype="javascript">
 function getAreaname(obj){
 $.ajax({url:'/get_area_name',
 dataType: 'text',
 type: 'get',
 data: {id: obj.value},
 success: function(data){
  $("#co_applicant_business_area_name").val(data);
 }
 });}
</script>

<div id="business" style ="padding-left:40px">
<%= form_for(@co_applicant_work_detail) do |f| %>
  <% if @co_applicant_work_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@co_applicant_work_detail.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @co_applicant_work_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <strong class="label label-info">
    <%= @application_ref_no %> | <%= @application_ref_no %> | <%= @co_applicant.applicant_name %>
</strong> <br>

  <div class="field_name">
   <%= f.check_box :document_required %>
   <i style ="padding-left:20px;color:green">Check this if photocopy of the customers document is required. else leave it as it is</i>
  </div>
    <%= f.hidden_field :customer_id, :value=> "#{@co_applicant.customer.id}" %>
    <%= f.hidden_field :agency_name, :value=>"Scorp Enterprises" %>
    <%= f.hidden_field :application_ref_no, :value=> "#{@application_ref_no}" %>
    <%= f.hidden_field :fh_code, :value=> "#{@application_ref_no}" %>
    <%= f.hidden_field :applicant_name, :value=> "#{@co_applicant.applicant_name}" %>
    <%= f.hidden_field :application_status, :value => "BUSINESS" %>
    <%= f.hidden_field :client_id, :value => "#{@co_applicant.client_id}" %>
    <%= f.hidden_field :branch_id, :value => "#{@co_applicant.branch_id}" %>
    <%= f.hidden_field :branch_code, :value => "#{@co_applicant.branch_code}" %>
  <br><br>

  <div class="field_name">
    <%= f.label :'Name OF The Company' %>
    <%= f.text_field :company_name %>
  </div><br><br><br>

  <div class="field_name">
    <%= f.label :landmark %>
    <%= f.text_field :landmark %>
  </div><br><br><br>

  <div class="field_name">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field_name">
    <%= f.label :country_name %>
    <%= f.text_field :country, :value => "INDIA" %>
  </div>
  <div class="field_name">
    <%= f.label :country_state %>
    <%= f.text_field :state %>
  </div>
  <div class="field_name">
    <%= f.label :country_city %>
    <%= f.collection_select :city_id, City.all, :id, :name, {}, {:class => 'text_field', :onchange => 'getArea(this)'} %>
  </div>
  <div class="field_name">
    <%= f.label :pincode_id %>
  <div id ="area_name"><%= f.collection_select :pincode_id, Pincode.all, :id, :name, {:prompt => true} ,{:class => 'text_field', :onchange => 'getAreaname(this)'} %></div>
  </div>
  <div class="field_name">
    <%= f.label :'Selected pincode', :class => 'control-label' %>
    <%= f.text_field :area_name, :class => 'text_field' %>
  </div>

</div>
  <div class="actions">
    <%= f.submit 'Submit..', :class => 'btn btn-primary btn-small' %>
  </div>
<% end %>
</div>
