<div id="business" style ="padding-left:40px">
<%= form_for(@co_applicant_work_detail) do |f| %>
  <% if @co_applicant_work_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@co_applicant_work_detail.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @co_applicant_work_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <strong class="label label-info">
    <%= @application_ref_no %> | <%= @application_ref_no %> | <%= @co_applicant.applicant_name %>
</strong> <br>

  <div class="field_name">
   <%= f.check_box :document_required %>
   <i style ="padding-left:20px;color:green">Check this if photocopy of the customers document is required. else leave it as it is</i>
  </div>
    <%= f.hidden_field :co_applicant_id, :value=> "#{@co_applicant.id}" %>
    <%= f.hidden_field :agency_name, :value=>"Scorp Enterprises" %>
    <%= f.hidden_field :applicant_ref_no, :value=> "#{@application_ref_no}" %>
    <%= f.hidden_field :fh_code, :value=> "#{@application_ref_no}" %>
    <%= f.hidden_field :applicant_name, :value=> "#{@co_applicant.applicant_name}" %>
  <br><br>

  <div class="field_name">
    <%= f.label :'Name OF The Company' %>
    <%= f.text_field :company_name %>
  </div><br><br><br>

  <div class="field_name">
    <%= f.label :landmark %>
    <%= f.text_field :landmark %>
  </div><br><br><br>

  <div class="field_name">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field_name">
    <%= f.label :country_name %>
    <%= f.text_field :country, :value => "INDIA" %>
  </div>
  <div class="field_name">
    <%= f.label :country_state %>
    <%= f.text_field :state %>
  </div>
  <div class="field_name">
    <%= f.label :country_city %>
    <%= f.text_field :city %>
  </div>
  <div class="field_name">
    <%= f.label :pincode_id %>
    <%= f.collection_select :pincode_id, Pincode.all, :id, :pin_number %>
  </div>
</div>
  <div class="actions">
    <%= f.submit 'Submit..', :class => 'btn btn-primary btn-small' %>
  </div>
<% end %>
</div>
