<style>
 #servey_data{float:left; width:800px;border-right:2px solid black;}
 #servey_document{width:350px;float:right; border:0px solid black;margin:80px -55px;}
</style>
<%- model_class = CoApplicantBusiness -%>
<%= render 'header' %>






<% if @co_applicant_business.co_applicant_work_detail %>
<h4> Customer's Servey Detail | <%= link_to "edit business servey", edit_co_applicant_work_detail_path(@co_applicant_business.co_applicant_work_detail, :co_applicant_business_id => @co_applicant_business.co_applicant_work_detail.co_applicant_business_id, :tab_id => @co_applicant_business.co_applicant_work_detail.tab_id) %></h4><br>
<div id="servey_data">
<table class="table table-bordered table-striped table-condensed" style="width:700px;">

  <tr><td><strong><%= model_class.human_attribute_name(:Designation) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.applicant_designation %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:date_of_visit) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.date_of_visit %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:time_of_visit) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.time_of_visit.strftime('%I:%M %P') %><rb><br>

  <tr><td><strong><%= model_class.human_attribute_name(:person_contacted) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.person_met %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:designation_of_person_met) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.designation_of_person_met %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:contact_number) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.telephone_number %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:extension_number) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.ext_number %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:mobile_number) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.mobile_number %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:no_of_years_in_present_employeement) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.number_of_years_in_present_employment %> Years</td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:visiting_card_obtained) %>:</strong>
  <% if @co_applicant_business.co_applicant_work_detail.visiting_card_obtained="true" %>
   Yes <% else %> No <% end %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_of_the_company) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.name_of_the_company %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:type_of_business) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.type_of_business %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:nature_of_business) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.nature_of_business %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:nob_in_detail) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.nob_in_detail %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:office_ownership) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.office_ownership %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:no_of_employees) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.no_of_employees %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:no_of_branches) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.no_of_branches %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:average_monthly_turn_over) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.average_monthly_turn_over %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:no_of_customer_per_date) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.no_of_customer_per_date %><br>

  <tr><td><strong><%= model_class.human_attribute_name(:type_of_job) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.type_of_job %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:customer_beaviour) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.job_transferable %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:salary_drawn) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.salary_drawn %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:board_seen) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.board_seen %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:name_verified_from) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.name_verified_from %></td></tr>

  <tr><td><strong><%= model_class.human_attribute_name(:verifier_remark) %>:</strong>
  <%= @co_applicant_business.co_applicant_work_detail.verifier_remark %></td></tr>

</div>
<% end %>
