<style>
  .row-fluid:before, .row-fluid:after {padding:0px;}
</style>
<div id="sidebar">
  <% if current_user.role=="super_user" %>

  <!-- <strong>Pending </strong> &nbsp;&nbsp; <pending><%= @total_pending %></pending> &nbsp;&nbsp;
   <strong>in progress </strong> &nbsp;&nbsp; <in_progress><%= @total_in_progress %></in_progress> &nbsp;&nbsp;
   <strong>Completed </strong> &nbsp;&nbsp; <complete><%= @total_completed %></complete><br><br>-->
  <div class="span" style ="width:400px;">
    <table class="table table-condensed table-bordered table-striped">
      <tr>
        <td style="color:#0088CC"> Totoal Entries in the system </td>
        <td> <%= (Customer.all+Business.all+CoApplicant.all+CoApplicantBusiness.all).count %>
      <tr>
      </table>
    <table class="table table-condensed table-bordered table-striped">
      <td><%= link_to 'Total Created Today', customers_daily_customers_path %> &nbsp;&nbsp;&nbsp; </td>
      <td width="16%"><%= daily_total %> </td>
      </tr>
      <tr>
      <td><%= link_to 'Total Assigned Today', customers_assigned_data_today_path %> &nbsp;&nbsp;&nbsp; </td>
      <td><%= todays_list.count %> </td>
      </tr>
      <tr>
      <td><%= link_to 'Completed', customers_completed_customers_today_path %> </td>
      <td><%= todays_tab_completed_list.count %></td>
      </tr>
      <tr>
      <td><%= link_to 'Pending', customers_daily_pending_customers_path %>   </td>
      <td><%= todays_tab_pending_list.count %></td>
      </tr>
      <tr>
      <td><%= link_to 'Progress', customers_in_progress_today_path %></td>
      <td><%= todays_tab_progress_list.count %></td>
      </tr>
    </table>
  </div>

  <% if current_user.role=="tab_user" %>
   <strong>Pending </strong> &nbsp;&nbsp; <pending><%= pending_all_on_tab %></pending> &nbsp;&nbsp;
   <strong>In Progress </strong> &nbsp;&nbsp; <complete> <%= in_progress_all_on_tab %> </complete> &nbsp;&nbsp;
   <strong>Completed </strong> &nbsp;&nbsp; <complete> <%= completed_all_on_tab %> </complete> &nbsp;&nbsp;
  <% end %>

<% end %>
</div>
