<div class="span6" style ="padding:20px;border-radius:5px;border:0px solid #000000;text-align:center">
 <h5>Residencial verification</h5>
<table class="table table-striped table-bordered table-condensed">
  <% @submitted_customers.each do |c| %>
 <tr><% if c.submitted? %>
  <td><strong><%= c.applicant_name %></strong>&nbsp;&nbsp;&nbsp;&nbsp;
      <strong><%= c.application_ref_no %></strong>
     <% time1 = Time.now %> <% time2 = c.created_at %>
      <small style ="color:silver;padding-left:10px;padding-right:10px;margin-left:20px;">
          <%= distance_of_time_in_words(time1, time2) %> ago <br>
      </small>
     <p style ="color:silver;font-size:11px;">
        <%= c.address %>
     </p>
  </td>
  <td><%= link_to "Verify",new_servey_path(:customer_id=>c.id, :tab_id=>current_user.tab.id), :class=>"label label-info" %></td>
    <% end %>
  <% end %></tr></table>
<%= render "co_applicant" %>
 <!--<table class="table table-striped">
 <%# customer_data.each do |c| %>
   <tr><td><%#= c.customer.applicant_name %></td><tr>
 <%# end %>
 </table>-->

</div>
