<style>
#hero-unit{font-size:11px;width:2000px;}
</style>

<h4>
 <%= link_to "Export to excel", completed_customers_path(:tab_id => params[:tab_id].to_i, :status => params[:status],
     :application_status=> params[:application_status],:start_date => params[:start_date], :end_date => params[:end_date],
      format: :xls) %>
</h4><hr>

<% if @completed_customers.present? || @completed_co_applicants.present? %>
<table class="table table-condensed table-bordered table-striped" style="width:1800px;">
 <thead>
  <tr>
    <th>Status </th>
    <th>Tab Name  </th>
    <th>Applicant name</th>
    <th>Applicant Address</th>
    <th>VisitDate</th>
    <th width="60px">VisitTime</th>
    <th>Person Contacted</th>
    <th>Relationship</th>
    <th>BirthDate</th>
    <th>Years at Current Address</th>
    <th>Residence Status</th>
    <th>Qualification</th>
    <th>Family Members</th>
    <th>Status</th>
    <th>Verifier Remark</th>
  </tr>
 </thead>
 <tbody>
 <% @completed_customers.each do |customer| %>
  <tr>
   <% if customer.customer.application_status == 'RESIDENTIAL' %>
   <td><b><%= customer.customer.application_status %></b></td>
   <% else %>
   <td><b><%= customer.customer.application_status %></b></td>
   <% end %>
   <td><%= customer.tab.name %></td>
   <td><%= customer.customer.applicant_name %></td>
   <td><%= customer.customer.address %></td>
   <td><%= customer.customer.servey.date_of_visit %></td>
   <td><%= customer.customer.servey.time_of_visit.strftime("%H:%M %p") %></td>
   <td><%= customer.customer.servey.person_contacted %></td>
   <td><%= customer.customer.servey.relation_with_applicant %></td>
   <td><%= customer.customer.servey.date_of_birth %></td>
   <td><%= customer.customer.servey.years_lived_at_current_address %> Yrs</td>
   <td><%= customer.customer.servey.residence_status %></td>
   <td><%= customer.customer.servey.educational_qualification %></td>
   <td><%= customer.customer.servey.no_of_family_members %></td>

   <% if customer.customer.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if customer.customer.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if customer.customer.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if customer.customer.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>
   <td>
     <%= customer.customer.servey.verifiers_remark %> ;
     <%= customer.customer.servey.date_of_visit %> ;
     <%= customer.customer.servey.time_of_visit.strftime("%H:%M %p") %>;
     <%= customer.customer.servey.person_contacted %>;
     <%= customer.customer.servey.relation_with_applicant %>;
     <%= customer.customer.servey.date_of_birth %>;
     <%= customer.customer.servey.years_lived_at_current_address %> Yrs;
     <%= customer.customer.servey.residence_status %>;
     <%= customer.customer.servey.educational_qualification %>
   </td>
 	 </tr>
	 <% end %>
	 </tbody>
<!--------------- Co Applicant ---------------------------------------------------------------------->

 <% @completed_co_applicants.each do |customer| %>

  <tr>
   <% if customer.co_applicant.application_status == 'RESIDENTIAL' %>
   <td><b><%= customer.co_applicant.application_status %></b></td>
   <% else %>
   <td><b><%= customer.co_applicant.application_status %></b></td>
   <% end %>
   <td><%= customer.tab.name %></td>
   <td><%= customer.co_applicant.applicant_name %></td>
   <td><%= customer.co_applicant.address %></td>
   <td><%= customer.co_applicant.co_applicant_servey.date_of_visit %></td>
   <td><%= customer.co_applicant.co_applicant_servey.time_of_visit.strftime("%H:%M %p") %></td>
   <td><%= customer.co_applicant.co_applicant_servey.person_contacted %></td>
   <td><%= customer.co_applicant.co_applicant_servey.relation_with_applicant %></td>
   <td><%= customer.co_applicant.co_applicant_servey.date_of_birth %></td>
   <td><%= customer.co_applicant.co_applicant_servey.years_lived_at_current_address %> Yrs</td>
   <td><%= customer.co_applicant.co_applicant_servey.residence_status %></td>
   <td><%= customer.co_applicant.co_applicant_servey.educational_qualification %></td>
   <td><%= customer.co_applicant.co_applicant_servey.no_of_family_members %></td>

   <% if customer.co_applicant.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if customer.co_applicant.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if customer.co_applicant.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if customer.co_applicant.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>
   <td>
     <%= customer.co_applicant.co_applicant_servey.verifiers_remark %> ;
     <%= customer.co_applicant.co_applicant_servey.date_of_visit %> ;
     <%= customer.co_applicant.co_applicant_servey.time_of_visit.strftime("%H:%M %p") %>;
     <%= customer.co_applicant.co_applicant_servey.person_contacted %>;
     <%= customer.co_applicant.co_applicant_servey.relation_with_applicant %>;
     <%= customer.co_applicant.co_applicant_servey.date_of_birth %>;
     <%= customer.co_applicant.co_applicant_servey.years_lived_at_current_address %> Yrs;
     <%= customer.co_applicant.co_applicant_servey.residence_status %>;
     <%= customer.co_applicant.co_applicant_servey.educational_qualification %>
   </td>
 	 </tr>
	 </tbody>
 </table>
<% end %>
<% end %>

<% if @completed_business.present? || @completed_work.present? %>
<table class="table table-condensed table-bordered table-striped" style="width:1800px;">
 <thead>
  <tr>
    <th>Status </th>
    <th>Applicant name</th>
    <th>Applicant Address</th>
    <th>VisitDate</th>
    <th width="60px">VisitTime</th>
    <th>Applicant Designation</th>
    <th>Person Met</th>
    <th>Designation of person met</th>
    <th>Telephone Number</th>
    <th>Mobile Number</th>
    <th>Years in Present Employement/Business</th>
    <th>Name Of Company/Business</th>
    <th>Status</th>
    <th>Verifier Remark</th>
  </tr>
 </thead>
 <tbody>



<!--------------- business---------------------------------------------------------------------->
 <% @completed_business.each do |b| %>

  <tr>
   <% if b.business.application_status == 'RESIDENTIAL' %>
   <td><b><%= b.business.application_status %></b></td>
   <% else %>
   <td><b><%= b.business.application_status %></b></td>
   <% end %>
   <td><%= b.business.applicant_name %></td>
   <td><%= b.business.address %></td>
   <td><%= b.business.work_servey.date_of_visit %></td>
   <td><%= b.business.work_servey.time_of_visit.strftime("%H:%M %p") %></td>
   <td><%= b.business.work_servey.applicant_designation %></td>
   <td><%= b.business.work_servey.person_met %></td>
   <td><%= b.business.work_servey.designation_of_person_met %></td>
   <td><%= b.business.work_servey.telephone_number %></td>
   <td><%= b.business.work_servey.mobile_number %></td>
   <td><%= b.business.work_servey.number_of_years_in_present_employment %> Yrs</td>
   <td><%= b.business.work_servey.name_of_the_company %></td>
   <td><%= b.business.work_servey.verifier_remark %></td>
   <td>
     <%= b.business.work_servey.verifier_remark %> ;
     <%= b.business.work_servey.date_of_visit %> ;
     <%= b.business.work_servey.time_of_visit.strftime("%H:%M %p") %>;
     <%= b.business.work_servey.applicant_designation %>;
     <%= b.business.work_servey.person_met %>;
     <%= b.business.work_servey.designation_of_person_met %>;
     <%= b.business.work_servey.telephone_number %>;
     <%= b.business.work_servey.number_of_years_in_present_employment %> Yrs.
   </td>
   <% if b.business.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if b.business.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if b.business.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if b.business.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

 	 </tr>
	 <% end %>
	 </tbody>

<!--------------- Co Applicant Business ---------------------------------------------------------------------->
 <% @completed_work.each do |cb| %>

  <tr>
   <% if cb.co_applicant_business.application_status == 'RESIDENTIAL' %>
   <td><b><%= cb.co_applicant_business.application_status %></b></td>
   <% else %>
   <td><b><%= cb.co_applicant_business.application_status %></b></td>
   <% end %>
   <td><%= cb.co_applicant_business.applicant_name %></td>
   <td><%= cb.co_applicant_business.address %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.date_of_visit %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.time_of_visit.strftime("%H:%M %p") %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.applicant_designation %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.person_met %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.designation_of_person_met %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.telephone_number %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.mobile_number %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.number_of_years_in_present_employment %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.name_of_the_company %></td>
   <td><%= cb.co_applicant_business.co_applicant_work_detail.verifier_remark %></td>
   <% if cb.co_applicant_business.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if cb.co_applicant_business.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if cb.co_applicant_business.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if cb.co_applicant_business.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>
	 </table>
<% end %>
