
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<%= javascript_include_tag "bootstrap-datepicker.js" %></script>
<script type="text/javascript">
$(function() {
    $('.datepicker').datepicker({
    format: 'mm-dd-yyyy',
    weekStart: 1,
});
</script>

<%= form_for :reports_path, :method => :get do |f| %>
<div class ="row">
  <div class="field_name">
  <%= label_tag :'Choose Start Date' %>
  <%= text_field_tag :start_date, '', :class=> "datepicker", :value => @start_date %>
</div>
  <div class="field_name">
  <%= label_tag :'Choose End Date' %>
  <%= text_field_tag :end_date, '', :class => "datepicker", :value => @end_date %>
</div><br><Br><br><br>
<%= f.submit "Generate Report", :class =>"btn btn-info" %>
</div>
<% end %>
<hr>
<% if @customers.nil? %>
 <% else %>

<p>
  <strong>
   <b>Report from <%= params[:start_date] %> to <%= params[:end_date] %></b> ->
  <%= link_to "Download this Report", reports_path(:start_date => params[:start_date], :end_date => params[:end_date], format: :xls) %>
  </strong>
</p>


<div id="reports" style ="background:#fff;width:1200px;padding:10px;border-radius:5px;border:0px solid #000000;text-align:center">

<table class="table" border>
<h3 style= "font-size:18px;float:left;color:#F0F"> <u>Residential</u> </h3><br><br>
<thead>
<tr>
   <th style = "width:160px;text-align:left;padding-left:10px;"> Applicants Name </th>
   <th> Address </th>
   <th style="width:10%"> Visit time </th>
   <th style="width:10%"> status </th>
   <th> Person Contacted </th>
   <th> Relationship with applicant </th>
   <th> Date Of Birth </th>
   <th> Years Lived at current address </th>
   <th> Residential Status </th>
   <th> Education Qualification </th>
   <th> Family Members </th>
   <th> Verifiers Remark </th>
  </tr>
  </thead>
  <% @customers.each do |d| %>
  <tbody>
   <tr>
    <td><%= d.customer.applicant_name %></td>
    <td><%= d.customer.address %></td>
    <td><%= time_tag d.date_of_visit %> / <%= (d.time_of_visit).strftime("%I:%M %P") %></td>
    <td><%= d.customer.status %></td>
    <td><%= d.person_contacted %></td>
    <td><%= d.relation_with_applicant %></td>
    <td><%= d.date_of_birth %></td>
    <td><%= d.years_lived_at_current_address %></td>
    <td><%= d.residence_status %></td>
    <td><%= d.educational_qualification %></td>
    <td><%= d.no_of_family_members %></td>
    <td><%= d.verifiers_remark %></td>
   </tr>
  <% end %>
  <% @customers.each do |d| %>
   <tr>
    <% if d.customer.co_applicant %>
    <td><%= d.customer.co_applicant.applicant_name %></td>
    <td><%= d.customer.co_applicant.address %></td>
    <td><%= time_tag d.customer.co_applicant.co_applicant_servey.date_of_visit %> /
        <%= (d.customer.co_applicant.co_applicant_servey.time_of_visit).strftime("%I:%M %P") %></td>
    <td><%= d.customer.co_applicant.status %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.person_contacted %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.relation_with_applicant %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.date_of_birth %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.years_lived_at_current_address %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.residence_status %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.educational_qualification %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.no_of_family_members %></td>
    <td><%= d.customer.co_applicant.co_applicant_servey.verifiers_remark %></td>
    </tr>
    <% end %>
  <% end %>
</table>
</div>



<div id="reports" style ="background:#fff;width:1200px;padding:10px;border-radius:5px;border:0px solid #000000;text-align:center">
<table class="table table-condensed" border>
 <h3 style= "font-size:18px;float:left;color:#F0F"> <u>BUSINESS</u> </h3><br><br>
<thead>
<tr>
   <th style = "width:160px;text-align:left;padding-left:10px;"> Applicants Name </th>
   <th> Address </th>
   <th style="width:10%"> Visit time </th>
   <th style="width:10%"> status </th>
   <th> Person Contacted </th>
   <th> Relationship with applicant </th>
   <th> Date Of Birth </th>
   <th> Years Lived at current address </th>
   <th> Residential Status </th>
   <th> Education Qualification </th>
   <th> Family Members </th>
   <th> Verifiers Remark </th>
  </tr>
  </thead>
  <% @customers.each do |d| %>
  <% if d.customer.business %>
  <tbody>
   <tr>
    <td><%= d.customer.business.applicant_name %></td>
    <td><%= d.customer.business.address %></td>
    <td><%= time_tag d.date_of_visit %> / <%= (d.time_of_visit).strftime("%I:%M %P") %></td>
    <td><%= d.customer.business.status %></td>
    <td><%= d.person_contacted %></td>
    <td><%= d.relation_with_applicant %></td>
    <td><%= d.date_of_birth %></td>
    <td><%= d.years_lived_at_current_address %></td>
    <td><%= d.residence_status %></td>
    <td><%= d.educational_qualification %></td>
    <td><%= d.no_of_family_members %></td>
    <td><%= d.verifiers_remark %></td>
   </tr>
  <% end %>
  <% end %>
  <% @customers.each do |d| %>
   <tr>
    <% if d.customer.co_applicant_business %>
    <td><%= d.customer.co_applicant.applicant_name %></td>
    <td><%= d.customer.co_applicant.address %></td>
    <td><%= time_tag d.date_of_visit %> / <%= (d.time_of_visit).strftime("%I:%M %P") %></td>
    <td><%= d.customer.co_applicant.status %></td>
    <td><%= d.person_contacted %></td>
    <td><%= d.relation_with_applicant %></td>
    <td><%= d.date_of_birth %></td>
    <td><%= d.years_lived_at_current_address %></td>
    <td><%= d.residence_status %></td>
    <td><%= d.educational_qualification %></td>
    <td><%= d.no_of_family_members %></td>
    <td><%= d.verifiers_remark %></td>
    </tr>
    <% end %>
  <% end %>
</table>
</div>




<% end %>
