<style>
select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 149px;
}
input[type="submit"] {
    font-size: 12px;
}
</style>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<%= javascript_include_tag "bootstrap-datepicker.js" %>
<script type="text/javascript">
$(function() {
    $('.datepicker').datepicker({
    format: 'mm-dd-yyyy',
    weekStart: 1,
});
</script>

<%= form_for :reports_path, :method => :get do |f| %>
<div class ="row">
  <div class="field_name">
  <%= label_tag :'Select Tab' %>
  <%= select_tag :tab_id, options_for_select(Tab.all.map{ |c| [c.name, c.id] }), :prompt => "All Tabs" %>
  </div>
  <div class="field_name">
  <%= label_tag :'Select Status' %>
  <%= select_tag(:status, options_for_select([['All'], ['Pending', 'submitted'], ['progress', 'awaiting_to_get_verified'], ['Complete', 'verified']])) %>
  </div>

  <div class="field_name">
  <%= label_tag :'Application Type' %>
  <%= select_tag(:application_status, options_for_select([['All'], ['RESIDENTIAL', 'RESIDENTIAL'], ['BUSINESS', 'BUSINESS']])) %>
  </div>

  <div class="field_name">
  <%= label_tag :'Choose Start Date' %>
  <%= text_field_tag :start_date, '', :class=> "datepicker", :value => @start_date %>
  </div>
  <div class="field_name">
  <%= label_tag :'Choose End Date' %>
  <%= text_field_tag :end_date, '', :class => "datepicker", :value => @end_date %>
  </div><br><br><br><br>

<%= f.submit "Generate Report", :class =>"btn btn-info" %><hr>
</div>
<% end %>
<% if @customers.nil? %>
 <% else %>

 <h5>Customer Report from <%= params[:start_date] %> to <%= params[:end_date] %></h5><br><br>
<table class="table table-condensed table-striped table-bordered" style="width:400px;">

 <tr>
	 <td>Customer type </td>
	 <td><%= params[:application_status] %></td>
	</tr>

 <tr>
	 <td>Status </td>
	 <td><%= params[:status] %></td>
	</tr>

	<tr>
	 <% if params[:tab_id].present? %>
	 <% @name = Tab.find(params[:tab_id]) %>
	 <td>Tab name </td>
	 <td><%= @name.name %></td>
	</tr>

	 <% else %>
	<tr>
	 <td>Tab </td>
	 <td> All </td>
	</tr>

	 <% end %>

	<tr>


</table>




<table class="table table-condensed table-bordered table-striped">
 <tr>
  <td> Pending </td>
  <td> Completed </td>
  <td> In Progress </td>
  <td> Total </td>
 </tr>
 <tr>
   <td><%= link_to @all_pending %></td>
   <td><%= link_to @all_completed %></td>
   <td><%= link_to @all_progress %></td>
   <td><%= link_to @total %></td>
</table>

</div>

<% end %>
