<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<%= javascript_include_tag "bootstrap-datepicker.js" %></script>
<script type="text/javascript">
$(function() {
    $('.datepicker').datepicker();
});
</script>

<%= form_for :reports_path, :method => :get do |f| %>
<div class ="row">
  <div class="field_name">
  <%= label_tag :'Choose Start Date' %>
  <%= text_field_tag :start_date, '', :class=> "datepicker", :value=> Date.today-1 %>
</div>
  <div class="field_name">
  <%= label_tag :'Choose End Date' %>
  <%= text_field_tag :end_date, '', :class => "datepicker", :value=> Date.today %>
</div><br><Br><br><br>
<%= f.submit "Generate Report", :class =>"btn btn-info" %>
</div>
<% end %>
<hr>
<% if @customers.nil? %>
 <% else %>

<p>
  <strong>  
   <%= link_to "Download this Report", reports_path(:start_date => params[:start_date], :end_date => params[:end_date], format: "xls") %>
  </strong>
</p>

<div id="reports" style ="width:2800px;padding:0px;border-radius:5px;border:0px solid #000000;text-align:center">
<table border="1" cellpadding="5" cellspacing="5">
  <thead>
  <tr>
   <th colspan="5"> Customer_detail </th>
   <th colspan="4"> Business Detail </th>
   <th colspan="5"> Co applicant Detail</th>
   <th colspan="9"> Co applicant business</th>
  </tr>
<tr>
   <th> name </th>
   <th> br-code </th>
   <th> Address </th>
   <th> status </th>
   <th> Agency name </th>
   <th> Company_name </th>
   <th> Employee_code </th>
   <th> Office address </th>
   <th> Agency Name </th>
   <th> C-A-N </th>
   <th> C-A-br-code </th>
   <th> C-A-S </th>
   <th> C-A-Address </th>
   <th> Agency Name </th>
   <th> C-A-B-N </th>
   <th> C-A-B-br-code </th>
   <th> C-A-S </th>
   <th> Pan-no. </th>
   <th> Emp code</th>
   <th> C-A-Office Address </th>
   <th> Agency Name </th>
  </tr>
  </thead>
 <% @customers.each do |d| %>
  <tbody>
  <tr>
   <td style = "color:blue"><b><%= d.applicant_name %></b></td>
   <td><%= d.fh_code %></td>
   <td><%= d.address %></th>
   <% if d.status=='submitted' %>
   <td style="color:red"><b>Pending</b></i></td>
   <% end %>
   <% if d.status=='awaiting_to_get_verified' %>
   <td style="color:darkorange"><b>In Progress</b></i></td>
   <% end %>
   <% if d.status=='verified' %>
   <td style="color:darkgreen"><b>Done</b></i></td>
   <% end %>
   <td><%= d.agency_name %></td>

   <td><%= d.business.company_name %></td>
   <td><%= d.business.fh_code %></td>
   <td><%= d.business.address %></th>
   <% if d.status=='submitted' %>
   <td style="color:red"><b>Pending</b></i></td>
   <% end %>
   <% if d.business.status=='awaiting_to_get_verified' %>
   <td style="color:darkorange"><b>In Progress</b></i></td>
   <% end %>
   <% if d.business.status=='verified' %>
   <td style="color:darkgreen"><b>Done</b></i></td>
   <% end %>
   <td><%= d.business.agency_name %></td>

<% if d.co_applicant %>
<!-- co applicant detail-->
   <td><%= d.co_applicant.applicant_name %></td>
   <td><%= d.co_applicant.fh_code %></td>
   <% if d.co_applicant.status=='submitted' %>
   <td style="color:red"><b>Pending</b></i></td>
   <% end %>
   <% if d.co_applicant.status=='awaiting_to_get_verified' %>
   <td style="color:darkorange"><b>In Progress</b></i></td>
   <% end %>
   <% if d.co_applicant.status=='verified' %>
   <td style="color:darkgreen"><b>Done</b></i></td>
   <% end %>
   <td><%= d.co_applicant.address %></td>
   <td><%= d.co_applicant.agency_name %></td>
<!--co applicant detail end-->
<!-- co applicant business detail-->
   <td><%= d.co_applicant.co_applicant_business.applicant_name %></td>
   <td><%= d.co_applicant.co_applicant_business.fh_code %></td>
   <% if d.co_applicant.co_applicant_business.status=='submitted' %>
   <td style="color:red"><b>Pending</b></i></td>
   <% end %>
   <% if d.co_applicant.co_applicant_business.status=='awaiting_to_get_verified' %>
   <td style="color:darkorange"><b>In Progress</b></i></td>
   <% end %>
   <% if d.co_applicant.co_applicant_business.status=='verified' %>
   <td style="color:darkgreen"><b>Done</b></i></td>
   <% end %>
   <td>AGLV15428796</td>
   <td>EMP-8309</td>
   <td><%= d.co_applicant.co_applicant_business.address %></td>
   <td><%= d.co_applicant.co_applicant_business.agency_name %></td>
<% end %>
  </tr>

  </tbody>
 <% end %>
</table>
</div>
<% end %>


