

<%= form_for :reports_path, :method => :get do |f| %>
  <%= text_field_tag :start_date, '', :class => "datepicker", :placeholder =>"select start date" %> &nbsp;&nbsp;to&nbsp;&nbsp; 
  <%= text_field_tag :end_date, '', :class => "datepicker", :placeholder =>"select end date" %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= f.submit "Generate Report", :class =>"label label-info" %>
<% end %>
<hr>
<% if @customers.nil? %>
 <% else %>

<p>
  Download:
  <%= link_to "CSV", reports_path(:start_date => params[:start_date], :end_date => params[:end_date], format: "csv") %> |
  <%= link_to "Excel", reports_path(:start_date => params[:start_date], :end_date => params[:end_date], format: "xls") %>
</p>

<div class="span4" style ="width:500px;padding:20px;border-radius:5px;border:0px solid #000000;text-align:center">
<table class="table table-striped">
  <tr>
   <th> name </th>
   <th> BR CODE </th>
   <th> Address </th>
   <th> status </th>
   <th> Co applicant_name </th>
   <th> Co applicant status </th>
  </tr>
 <% @customers.each do |d| %>
  <tr>
   <td><%= d.applicant_name %></td>
   <td><%= d.fh_code %></td>
   <td><%= d.address %></th>
   <td><%= d.status %></td>
   <td><%= d.co_applicant.applicant_name %></td>
   <td><%= d.co_applicant.status %></td>
  </tr>
 <% end %>
</table>
</div>
<% end %>
