<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
       <!--customer data-->
        <Cell><Data ss:Type="String">Unique ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Recd Date</Data></Cell>
        <Cell><Data ss:Type="String">BR CODE</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">City</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
        <Cell><Data ss:Type="String">status</Data></Cell>
       <!--customer data end-->
       <!--business data-->
        <Cell><Data ss:Type="String">Company Name</Data></Cell>
        <Cell><Data ss:Type="String">BR CODE</Data></Cell>
        <Cell><Data ss:Type="String">Office Address</Data></Cell>
        <Cell><Data ss:Type="String">City</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
        <Cell><Data ss:Type="String">status</Data></Cell>
      <!--business data end-->
      <!--co applicant data-->
        <Cell><Data ss:Type="String">Co Applicant?</Data></Cell>         
        <Cell><Data ss:Type="String">Co Applicant Name</Data></Cell>
        <Cell><Data ss:Type="String">BR CODE</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">City</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
        <Cell><Data ss:Type="String">status</Data></Cell>
      <!--co applicant end-->
      <!--co applicant business-->
        <Cell><Data ss:Type="String">Co Applicant Company Name</Data></Cell>
        <Cell><Data ss:Type="String">BR CODE</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">City</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
        <Cell><Data ss:Type="String">status</Data></Cell>
      <!--co applicant business end-->
      </Row>
    <% @customers.each do |customer| %>
      <Row>
   <!--customer data-->
        <Cell><Data ss:Type="string"><%= "scorpeo/ #{Date.today}/ #{customer.application_ref_no}" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.applicant_name %></Data></Cell>
        <% unless customer.servey.nil? %>
        <Cell><Data ss:Type="String">
           <%= time_tag customer.servey.date_of_visit %> / <%= (customer.servey.time_of_visit).strftime("%I:%M %P") %>
        </Data></Cell>
        <% else %>
        <Cell><Data ss:Type="String"> no date </Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= customer.fh_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.country_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.pincode.name %></Data></Cell>
        <% if customer.status=='submitted' %>
        <Cell><Data ss:Type="String">Pending</Data></Cell>
        <% end %>
        <% if customer.status=='awaiting_to_get_verified' %>
        <Cell><Data ss:Type="String">InProgress</Data></Cell>
        <% end %>
        <% if customer.status=='verified' %>
        <Cell><Data ss:Type="String">Done</Data></Cell>
        <% end %>
   <!--customer data end-->
   <!--customer business data-->
     <% if customer.business %>
        <Cell><Data ss:Type="String"><%= customer.business.company_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.business.fh_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.business.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.business.country_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.business.pincode.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.business.status %></Data></Cell>
     <% else %>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
     <% end %>
   <!--customer business data end-->
   <!--customer co applicant data-->
     <% if customer.co_applicant %>
        <Cell><Data ss:Type="String">Yes</Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant.applicant_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant.fh_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant.country_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant.pincode.name %></Data></Cell>
        <% if customer.co_applicant.status=='submitted' %>
        <Cell><Data ss:Type="String">Pending</Data></Cell>
        <% end %>
        <% if customer.co_applicant.status=='awaiting_to_get_verified' %>
        <Cell><Data ss:Type="String">InProgress</Data></Cell>
        <% end %>
        <% if customer.co_applicant.status=='verified' %>
        <Cell><Data ss:Type="String">Done</Data></Cell>
        <% end %>
     <% else %>
        <Cell><Data ss:Type="String"> NO </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
     <% end %>
   <!--customer co applicant data end -->

     <% if customer.co_applicant_business %>
        <Cell><Data ss:Type="String"><%= customer.applicant_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant_business.fh_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant_business.address %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant_business.customer.country_city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= customer.co_applicant_business.pincode.name %></Data></Cell>
        <% if customer.co_applicant_business.status=='submitted' %>
        <Cell><Data ss:Type="String">Pending</Data></Cell>
        <% end %>
        <% if customer.co_applicant_business.status=='awaiting_to_get_verified' %>
        <Cell><Data ss:Type="String">InProgress</Data></Cell>
        <% end %>
        <% if customer.co_applicant_business.status=='verified' %>
        <Cell><Data ss:Type="String">Done</Data></Cell>
        <% end %>
      <% else %>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
        <Cell><Data ss:Type="String"> - </Data></Cell>
     <% end %>

      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>



