<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">BR CODE</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">status</Data></Cell>
        <Cell><Data ss:Type="String">Co_applicant_name</Data></Cell>
        <Cell><Data ss:Type="String">CoApplicantAddress</Data></Cell>
        <Cell><Data ss:Type="String">CoApplicant Status</Data></Cell>
      </Row>
    <% @customers.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= product.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.applicant_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.fh_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.address %></Data></Cell>
          <% if product.status=='submitted' %>
        <Cell><Data ss:Type="String">Pending</Data></Cell>
          <% end %>
        <Cell><Data ss:Type="String"><%= product.co_applicant.applicant_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.co_applicant.address %></Data></Cell>
          <% if product.co_applicant.status=='submitted' %>
        <Cell><Data ss:Type="String">Pending</Data></Cell>
          <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>



