<style>
#hero-unit{ margin:5px;width:2522px}
</style>
<% if @all_pending.present? %>
<h5>
 <%= link_to "Export to excel", progress_customers_path(:tab_id => params[:tab_id].to_i, :status => params[:status],
     :application_status=> params[:application_status],:start_date => params[:start_date], :end_date => params[:end_date],
      format: :xls) %>
</h5>

<table class="table table-condensed table-bordered table-striped" style="width:1800px;">
 <thead>
  <tr>
    <th>Status </th>
    <th>Tab Name  </th>
    <th>Applicant name</th>
    <th width="160px">Address</th>
    <th>VisitDate</th>
    <th width="60px">VisitTime</th>
    <th>Person Contacted</th>
    <th>Relationship</th>
    <th>BirthDate</th>
    <th>Years at Current Address</th>
    <th>Residence Status</th>
    <th>Qualification</th>
    <th>Family Members</th>
    <th>Status</th>
    <th>Verifier Remark</th>
  </tr>
 </thead>
 <tbody>
 <% @progress_customers.each do |customer| %>

  <tr>
   <% if customer.customer.application_status == 'RESIDENTIAL' %>
   <td><b><%= customer.customer.application_status %></b></td>
   <% else %>
   <td><b><%= customer.customer.application_status %></b></td>
   <% end %>
   <td><%= customer.customer.servey.tab.name %></td>
   <td><%= customer.customer.applicant_name %></td>
   <td><%= customer.customer.address %></td>
   <td><%= customer.customer.servey.date_of_visit %></td>
   <td><%= customer.customer.servey.time_of_visit.strftime("%H:%M %p") %></td>
   <td><%= customer.customer.servey.person_contacted %></td>
   <td><%= customer.customer.servey.relation_with_applicant %></td>
   <td><%= customer.customer.servey.date_of_birth %></td>
   <td><%= customer.customer.servey.years_lived_at_current_address %> Yrs</td>
   <td><%= customer.customer.servey.residence_status %></td>
   <td><%= customer.customer.servey.educational_qualification %></td>
   <td><%= customer.customer.servey.no_of_family_members %></td>
	 <%#= link_to "scorpeo/ #{customer.customer.created_at.to_date}/ #{customer.customer.application_ref_no}", customer.customer %>

   <% if customer.customer.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if customer.customer.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if customer.customer.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if customer.customer.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

   <td>
     <%= customer.customer.servey.verifiers_remark %> ;
     <%= customer.customer.servey.date_of_visit %> ;
     <%= customer.customer.servey.time_of_visit.strftime("%H:%M %p") %>;
     <%= customer.customer.servey.person_contacted %>;
     <%= customer.customer.servey.relation_with_applicant %>;
     <%= customer.customer.servey.date_of_birth %>;
     <%= customer.customer.servey.years_lived_at_current_address %> Yrs;
     <%= customer.customer.servey.residence_status %>;
     <%= customer.customer.servey.educational_qualification %>
   </td>



	 <% end %>
	 </tbody>
<!--------------- business---------------------------------------------------------------------->
 <% @progress_business.each do |b| %>

  <tr>
   <% if b.business.application_status == 'RESIDENTIAL' %>
   <td><b><%= b.business.application_status %></b></td>
   <% else %>
   <td><b><%= b.business.application_status %></b></td>
   <% end %>
   <td>
	  <b><%= link_to "scorpeo/ #{b.business.created_at.to_date}/ #{b.business.application_ref_no}", b.business %></b>
	 </td>
   <td><%= b.business.applicant_name %></td>
   <% if b.business.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if b.business.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if b.business.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if b.business.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

	 <% @verifier  = BusinessVerification.find_all_by_business_id(b) %>
		 <% @verifier.each do |v| %>
			 <% if v.tab.name %>
				 <td width="150px"><%= v.tab.name %></td>
			 <% else %>
				 <td>no tab </td>
			 <% end %>
	   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>
<!--------------- Co Applicant ---------------------------------------------------------------------->

 <% @progress_co_applicants.each do |c| %>

  <tr>
   <% if c.co_applicant.application_status == 'RESIDENTIAL' %>
   <td><b><%= c.co_applicant.application_status %></b></td>
   <% else %>
   <td><b><%= c.co_applicant.application_status %></b></td>
   <% end %>
   <td>
	  <b><%= link_to "scorpeo/ #{c.co_applicant.created_at.to_date}/ #{c.co_applicant.application_ref_no}", c.co_applicant %></b>
	 </td>
   <td><%= c.co_applicant.applicant_name %></td>
   <% if c.co_applicant.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if c.co_applicant.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if c.co_applicant.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if c.co_applicant.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

	 <% @verifier  = CoApplicantVerification.find_all_by_co_applicant_id(c) %>
		 <% @verifier.each do |v| %>
			 <% if v.tab.name %>
				 <td width="150px"><%= v.tab.name %></td>
			 <% else %>
				 <td>no tab </td>
			 <% end %>
	   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>

<!--------------- Co Applicant Business ---------------------------------------------------------------------->
 <% @progress_work.each do |cb| %>

  <tr>
   <% if cb.co_applicant_business.application_status == 'RESIDENTIAL' %>
   <td><b style="color:#009999;border-radius:3px;padding:2px;"><%= cb.co_applicant_business.application_status %></b></td>
   <% else %>
   <td><b style="color:#CC0066;border-radius:3px;padding:2px;"><%= cb.co_applicant_business.application_status %></b></td>
   <% end %>
   <td>
	  <b><%= link_to "scorpeo/ #{cb.co_applicant_business.created_at.to_date}/ #{cb.co_applicant_business.application_ref_no}", cb.co_applicant_business %></b>
	 </td>
   <td><%= cb.co_applicant_business.applicant_name %></td>
   <% if cb.co_applicant_business.status=='submitted' %>
   <td><span class="label label-info"> Pending </span></td>
   <% end %>
   <% if cb.co_applicant_business.status=='ready_for_verification' %>
   <td><span class="label label-info"> ready for verification </span></td>
   <% end %>

   <% if cb.co_applicant_business.status=='awaiting_to_get_verified' %>
   <td><span class="label label-warning"> in progress </span></td>
   <% end %>
   <% if cb.co_applicant_business.status=='verified' %>
   <td><span class="label label-success"> verified </span></td>
   <% end %>

	 <% @verifier  = ClientVerification.find_all_by_co_applicant_business_id(cb) %>
		 <% @verifier.each do |v| %>
			 <% if v.tab.name %>
				 <td width="150px"><%= v.tab.name %></td>
			 <% else %>
				 <td>no tab </td>
			 <% end %>
	   <% end %>
 	 </tr>
	 <% end %>
	 </tbody>


	 </table>
<% end %>
