<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>e-verification</title>
    <%= stylesheet_link_tag "application",'datepicker',"bootstrap.css","form", :media => :all %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'bootstrap-datepicker' %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,greek-ext,greek,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>




    <style type="text/css">
      body{
            font-family: 'Ubuntu', sans-serif;
            font-family: ubuntu;
            text-transform: uppercase;
            font-size:11px;
            padding: 60px;
            line-height: 25px;
             font-weight: bold;
           }
      .sidebar-nav {
        padding: 9px 0;
      }


      /* Set the fixed height of the footer here */
      #footer {
				bottom: 0;
				left: 0;
				right: 0;
        background-color: #000;
				height: 160px;
	      }


    </style>
</head>
 <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
 <a class="brand" style="font-size:16px;" href="/"><strong>&laquo; E-Verification - Online Client Verification</strong></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
             <% if user_signed_in? %>
              <%= link_to current_user.email,  :class=>"navbar-link" %> -
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
             <% else %>
               <%= link_to "Login", new_user_session_path %>
               <!--<%= link_to "Admin login", "/admin" %>-->
             <% end %>

            </p><% if user_signed_in? %>
            <ul class="nav">
            <% if current_user.role=="super_user"||current_user.role=="admin"%>
              <li class="active"> <%= link_to 'Show all users', profiles_path %></li>
              <li><%= link_to "Customers", customers_path %></li>
              <li><%= link_to "Tabs", tabs_path %></li>
              <li><%= link_to "Generate Report", reports_path %></li>
            <% unless !current_user.profile %>
              <li class="active"><%= link_to "My Profile", profile_path(current_user) %></li>
            <% end %>
              <% end %><% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div id="hero-unit" style="margin:25px;">
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
<%= yield %>
</div>


      <hr>

</body>
</html>
