<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>e-verification</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application",'bootstrap-datepicker' %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,greek-ext,greek,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
      <style type="text/css">
      body {
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        font-size:11.5px;
        padding-top: 60px;
        padding-bottom: 40px;
        font-weight: bold;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
       h5{background:black;color:white;}
      .row-fluid:before, .row-fluid:after {
						 content: "";
						 display: table;
						 line-height: 0;
						 padding: 48px;
}
    </style>
  </head>
 <body>

<%= render "navigation" %>
<div class="container-fluid">

<div class="span2" style="float:right;width:35%;">
 <%= render "daily_status", :html=>{:float=>"right"} %>
</div>

 <div class="row-fluid">
   <%= render "media" %><hr>
   <% if current_user.role=="tab_user" && current_user.tab %>
   <%= render "residence" %>
   <%= render "business" %>
   <% end %>
  </div>
<!--<% if current_user.role=="super_user" %>
<div class="span10" style ="font-size:10px;float:right;width:380px;background:#F5F5F5;padding:10px;border-radius:5px;" >
<h5 style ="padding-left:130px;"> Online Tabs </h5>
<table class="table table-condensed">
 <tr>
   <td> Tab User </td>
   <td> Login Time </td>
   <td> Logout Time </td>
   <td> Tatal Time </td>
 </tr>
 <tr>
<% Attendence.where(login_date: Date.today).each do |a|  %>
  <td style ="color:green"><%= a.user.tab.name %></td>
  <td><%= a.login_time.strftime("at %H:%M%p") %></td>
  <td><%= a.logout_time.strftime("at %H:%M%p") if a.logout_time %></td>
  <td><%= distance_of_time_in_words(a.login_time, a.logout_time) if a.logout_time %></td>
 </tr>
<% end %>
</table>
<% end %>
</div>-->

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<%= javascript_include_tag "bootstrap-datepicker.js" %></script>
<script type="text/javascript">
$(function() {
    $('.datepicker').datepicker({
    format: 'mm-dd-yyyy',
    weekStart: 1,
});
</script>

<style>
input[type=submit] {
	font-size:10px;
  margin-top:31px;
  padding: 7px;
  font-weight:bold;
}
</style>
<% if current_user.admin? %>


<div class="span" style ="font-size:10px;width:680px;background:#F5F5F5;padding:10px;border-radius:5px;margin-left:0px;" >
<h5> Todays Activity - all records</h5>
   <%= render "todays_activity" %>
</div>

<div class="span" style ="float:right;font-size:10px;width:470px;background:#F5F5F5;padding:10px;border-radius:5px;" >
<table class="table table-condensed" style ="width:700px;">
   <% Tab.find(:all).each do |t| %>
    <tr>
      <td><h5 style ="text-align:center"><%= t.name %></h5></td>
    </tr>
    <tr>
      <td> Application Status </td>
      <td> Applicant name </td>
    </tr>

        <% t.customer_verifications.where("created_at::date = ?", Date.today-59).each do |c| %>
          <tr>
            <td style="color:#009999;border-radius:3px;padding:2px;"><%= c.customer.application_status %></td>
            <td><%= c.customer.applicant_name %></td>
          </tr>
     <% end %>
   <% end %>
</table>
<% end %>
</div>
   <%# if current_user.role=="super_user" %>
   <%#= render "completed" %>
   <%#= render "pending" %>
   <%#= render "in_progress" %>
   <%# end %>
  </div>

 </div>
</div>
