<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>e-verification</title>
  <%= stylesheet_link_tag "bootstrap.css", "bootstrap-responsive.css" %>
  <%= javascript_include_tag "application",'bootstrap-datepicker' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
    <style type="text/css">
      body {
        text-transform: uppercase;
        font-family: 'ubuntu', cursive;
        font-size:13px;
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
       h5{background:black;color:white;}
    </style>

  </head>

  <body>

 <%= render "navigation" %>

<div id="hero-unit" style="width:auto;margin:30px;padding:25px;border:0px solid #000;border-radius:10px;">
 <%= render "media" %>
 <% if current_user.role=="tab_user"&&current_user.tab %>
 <%= render "residence" %>
 <%= render "business" %>
<% end %> 

<% if current_user.role=="super_user" %>
 <%= render "completed" %>
 <%= render "pending" %>
 <%= render "in_progress" %>

<% end %>
</div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "bootstrap-transition.js", "bootstrap-alert.js", "bootstrap-modal.js", "bootstrap-dropdown.js", "bootstrap-scrollspy.js", "bootstrap-tab.js", "bootstrap-tooltip.js", "bootstrap-popover.js", "bootstrap-button.js", "bootstrap-collapse.js", "bootstrap-carousel.js", "bootstrap-typeahead.js" %>


</div>


  </body>
</html>

