<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>e-verification</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application",'bootstrap-datepicker' %>
  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
<style type="text/css">
	body {
    font-family: 'Varela', sans-serif;
		font-size:12px;
		padding-top: 60px;
		padding-bottom: 40px;
    line-height: 25px;
		font-weight: bold;
	}
	.sidebar-nav {
		padding: 9px 0;
	}
	      .navbar .nav { font-size:14px;}
	h5
	 {
	  background:black;color:white;padding-left:15px;;
	  }
	.row-fluid:before, .row-fluid:after {
		display: table;
		line-height: 0;
		padding: 48px;
	}
	hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 60px 0 30px 0px ;
}

input[type=submit] {
	font-size:10px;
  margin-top:31px;
  padding: 7px;
  font-weight:bold;
}


.blink_me {
     float:right;
     margin-right:50px;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

</style>
<!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<%= javascript_include_tag "bootstrap-datepicker.js" %></script>
<script type="text/javascript">
$(function() {
    $('.datepicker').datepicker({
    format: 'mm-dd-yyyy',
    weekStart: 1,
});
</script>-->

</head>

<body>

<%= render "navigation" %>
<div class="container-fluid">

<div class="span" style ="float:right;font-size:12px;width:230px;background:#F5F5F5;border-radius:5px;margin-right:26px;" >
 <%= render "daily_status" %>
</div>

 <div class="row-fluid">
   <%= render "media" %><hr>
   <% if current_user.role=="tab_user" && current_user.tab %>
   <%= render "residence" %>
   <%= render "business" %>
   <% end %>
  </div>

<% if !customers_list_old.empty? || !business_list_old.empty? || !co_applicants_list_old.empty? || !co_app_business_list_old.empty? %>
 <b class="blink_me"><%= link_to 'We have Pending Customers', customers_old_pending_customers_path %></b><br><br>
<% end %>

  <% if current_user.admin? %>
    <div class="span" style ="font-size:12px;width:1180px;background:#F5F5F5;padding:10px;border-radius:5px;margin-left:0px;" >
      <h5> Todays Activity - all records</h5>
         <%= render "todays_activity" %>
    </div>
  <% end %>
</div>
